#background_usps_wrapper {
  position: relative;
  padding: 164px 0;
  @media (max-width: 600px) {
    padding: 64px 0;
  }
  .inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba($black_bg, 0.7);
  }
  * {
    color: $white;
    position: relative;
    z-index: 2;
  }
  .usps-wrapper {
    flex-wrap: wrap;
    .usp {
      width: 30%;

      strong {
        font-size: 18px;
      }

      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 34px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
