.background-black {
  background: $black_bg;
}
* {
  // box-shadow: 0 0 0 1px red;
}
#banner-wrapper {
  .banner-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .column {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: calc(33.33% - 24px);
      padding: 0 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      @media (max-width: 1024px) {
        width: 100%;
        border: none;
        justify-content: flex-start;
        margin-bottom: 34px;
        padding: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &:last-of-type {
        border: none;
      }

      img {
        margin-right: 1rem;
        width: 40px;
        height: 40px;
      }

      .text {
        h4 {
          color: $white;
          text-align: left;
          margin-bottom: 0;
          margin-top: 7px;
        }
        p {
          text-align: left;
          color: $white;
          margin: 0;
        }
      }
    }
  }
}
