#columns_list_wrapper {
  * {
    // box-shadow: 0 0 0 1px red;
  }
  .columns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .column {
      width: calc(50% - 55px);

      &:last-of-type {
        display: block;
      }

      h3 {
        width: 100%;
      }

      ul {
        margin-top: 17px;
        margin-left: 20px;

        li {
          position: relative;
          margin-bottom: 34px;
          &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: -20px;
            width: 10px;
            height: 10px;
            background: $orange;
            border-radius: 10px;
          }
          h5 {
            margin: 0;
          }
          p {
            margin: 4px 0 0 0;
          }
        }
      }

      &:nth-child(2) {
        li {
          &:before {
            background: #999;
          }
        }
      }
    }
  }
}
