.big-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  &.book-demo {
    .wrapper {
      .inner {
        padding-top: 0;
      }
    }
  }

  .outer {
    width: 1680px;
    background: $white;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    &.header {
      background: $black_bg;
    }
  }
}

@mixin wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  .inner {
    width: 100%;
    padding: clamp(12px, 5vw, 55px) 10rem;
    @media (max-width: 1280px) {
      padding: clamp(12px, 5vw, 55px) 6rem;
    }
    @media (max-width: 1024px) {
      padding: clamp(12px, 5vw, 55px) 4rem;
    }
    @media (max-width: 768px) {
      padding: clamp(12px, 5vw, 55px) 2rem;
    }
    @media (max-width: 600x) {
      padding: clamp(12px, 5vw, 55px) 1rem;
    }
  }
}
.wrapper {
  @include wrapper;
}
