.big-wrapper {
  .outer {
    &.background-black {
      background: $black_bg;
      overflow: initial;
    }
    h1 {
      text-align: center;
      color: $white;
      margin-bottom: 16px;
    }
    .recommended {
      margin-top: 0;
    }
    .pricing-tiers {
      transform: translateY(50px);
    }
  }
}

.choice_information {
  padding-top: 6rem;
  padding-bottom: 0rem;
  .inside-wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 100vw;
    p.align-center {
      text-align: center;
    }
    p.text-white {
      color: $white;
    }
    .pricing-tiers {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        transform: translate(0);
      }
      > div {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
        &.recommended {
          background: $white;
          padding: 2rem;
          border-radius: 8px;
          -webkit-box-shadow: 0px 0px 0px 2px $orange;
          box-shadow: 0px 0px 0px 2px $orange;
          position: relative;
          z-index: 2;
          margin-bottom: -3rem;
          filter: drop-shadow(0px 0px 5px rgba($black_bg, 0.2));
          @media (max-width: 768px) {
            margin: 0;
          }
          .price-wrapper {
            display: flex;
            margin-top: 0.75rem;
            .price {
              margin: 0 1rem 0 0;
              line-height: 1.1;
              #showprice {
                transition: all 0.1s;
                &.updating {
                  opacity: 0;
                }
              }
            }
            .price-info {
              line-height: 1.3;
              span {
                display: block;
              }
            }
          }
          .units-wrapper {
            select {
              width: 83px;
              appearance: none;
              background-color: $white;

              border: 1px solid $black_bg;
              padding: 0.625rem 0.75rem;
              border-radius: 6px;
              margin: 0;
              cursor: inherit;
              line-height: inherit;
              background-size: 10px 17px;
              background-repeat: no-repeat;
              background-position: right 0.5rem center;
            }
            label {
              color: $black;
              font-weight: 500;
            }
          }
          button.get-recommended {
            display: block;
            width: 100%;
            margin-top: 1rem;
            border: 0;
            background: $digmicta;
            border-radius: 6px;
            transition: all 0.2s;
            color: $white;
            font-weight: 500;
            padding: 0.75rem;
            cursor: pointer;
            &:hover {
              background: darken($orange, 5%);
            }
          }
          ul.usp {
            margin-top: 2rem;
            li {
              padding: 0.875rem 0;
              list-style: none;
              border-top: 1px solid rgba(#e5e5e5, 0.4);
              font-family: $primary-font;
              svg {
                margin-right: 7px;
              }
            }
          }
        }
        &.custom {
          background: $superblack;
          padding: 4rem 2rem;
          border-radius: 0px 8px 8px 0px;
          @media (max-width: 768px) {
            margin-top: 34px;
          }
          p {
            margin-top: 1rem;
            span {
              opacity: 0.7;
            }
          }
          button.get-custom {
            display: block;
            width: 100%;
            margin-top: 1rem;
            border: 0;
            background: $white;
            border-radius: 6px;
            transition: all 0.2s;
            color: $black;
            font-weight: 500;
            padding: 0.75rem;
            cursor: pointer;
            &:hover {
              background: darken($white, 10%);
            }
          }
        }
      }
    }
  }
}
.offer_inforamtion {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .inside-wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 100vw;
    h1 {
      max-width: 700px;
    }
    ul.offers {
      display: flex;
      justify-content: space-between;
      margin-left: -2rem;
      margin-right: -2rem;
      li {
        width: 33.33333%;
        padding: 2rem;
      }
    }
  }
}
