.digmi-testimonial {
    background: #E5E5E5;
    .swiper-wrapper {
        align-items: stretch;
        .swiper-slide {
            background: #F9FAFB;
            justify-content: center;
            display: flex;
            height: auto;
            .inside-wrapper {
                padding: 3rem 2rem;
                display: flex;
                flex-direction: column; 
                align-items: center;
                small {
                    align-self: flex-start;
                    width: 100%;
                    color: $black;
                    line-height: 1.5;
                    img {
                        height: 52px;
                        width: 52px;
                        border: 2px solid $black;
                        max-height: unset;
                        float: left;
                        border-radius: 26px;
                        margin-right: 0.5rem;

                    }
                }
                img {
                    align-self: flex-start;
                    margin-bottom: 1rem;
                    max-height: 30px;
                    width: auto;
                }
                h5 {
                    width: 100%;
                    font-weight: 700;
                    color: $black;
                    max-width: 543px;
                    margin-bottom: 1rem;
                    line-height: 30px;
                }
                blockquote {
                    position: relative;
                    z-index: 2;
                    &::before {
                        position: absolute;
                        content: "";
                        background: url(assets/images/qoute.svg);
                        height: 23px;
                        width: 29px;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        z-index: -1;
                        left: -8px;
                        top: -3px;
                    }
                    display: inline-block;
                    max-width: 543px;
                    text-align: left;
                    p {
                        color: $black;
                        font-family: $primary-font;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }

}