.big-wrapper {
  .outer.faq {
    background: $white;
    .wrapper {
      .inner {
        .faq-row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          flex-wrap: wrap;

          .column {
            width: 29.33%;

            @media (max-width: 1200px) {
              width: 100%;
              margin-bottom: 55px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            h3 {
              margin-bottom: 2rem;
            }
            &:nth-child(1) {
              ul {
                li {
                  list-style: none;
                  display: flex;
                  align-items: center;
                  margin-bottom: 1rem;
                  span {
                    background: $orange;
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    justify-content: center;
                    align-items: center;
                    strong {
                      color: $white;
                      margin-top: 0.2rem;
                      font-size: 24px;
                    }
                  }
                  p {
                    color: $black;
                    margin: 0;
                    margin-left: 1.5rem;
                  }
                }
              }
            }
            &:nth-child(2) {
              * {
                color: $black_bg;
              }
            }
            &:nth-child(3) {
              ul {
                li {
                  list-style: none;
                  margin-bottom: 12px;
                  a {
                    color: $black_bg;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    padding: 0.7rem;

                    svg {
                      width: 15px;
                      height: 15px;
                      margin-left: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
* {
  // box-shadow: 0 0 0 1px red;
}
/* Panel style */
.accordion .a-container .a-panel {
  width: 100%;
  color: #262626;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

/* Panel style when active */
.accordion .a-container.active .a-panel {
  padding: 0;
  opacity: 1;
  height: auto;
  max-height: 500px;
}

.a-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px;

  &.active {
    p.a-btn {
      margin-bottom: 0.7rem !important;
    }
    svg {
      transform: rotate(-180deg);
    }
  }

  p.a-btn {
    width: 100%;
    text-align: left !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0.7rem 0;
  }
  .a-panel {
    width: 100%;
    // margin-top: 0.75em;
  }

  svg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all ease 350ms;
  }
}
