* {
  // box-shadow: 0 0 0 1px red;
}

footer {
  margin-top: auto;
  position: relative;
  padding: 110px 0;
  width: 100%;
  font-family: $secondary-font;
  background: #F9FAFB;

  * {
    color: $black !important;
  }

  .footer-wrapper {
    background: $lightergrey;
  }

  .wrapper {
    .inner {
      display: flex;
      flex-wrap: wrap;
      .col {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1100px) {
          width: 100%;
          &:last-of-type {
            margin-top: 2rem;
          }
        }
        @media (max-width: 768px) {
          &:nth-child(1) {
            order: 2;
            margin-top: 2rem;
          }
          &:nth-child(2) {
            order: 1;
          }
        }
        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0 0 2rem 0;
          &:last-child {
            margin-bottom: 0;
          }
          &.footer-nav {
            justify-content: flex-end;
            @media (max-width: 1100px) {
              justify-content: flex-start;
            }
          }
          .social-links {
            display: flex;
            li {
              list-style: none;
              margin-right: 1rem;
              &:last-of-type {
                margin-right: 0;
              }
              a {
                img {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
          .sub-col {
            width: calc(33.33% - 17px);
            @media (max-width: 768px) {
              width: 100%;
            }
            p {
              text-align: left;
            }
            strong {
              display: inline-block;
              margin-bottom: 0.375rem;
            }
            &.footer-menu-1 {
              width: auto;
              @media (max-width: 768px) {
                width: 100%;
              }
            }
            &.footer-menu-2 {
              width: auto;
              margin-left: 6rem;
              @media (max-width: 768px) {
                width: 100%;
                margin-left: 0;
                margin-top: 2rem;
              }
            }
          }
        }
        &:nth-child(2) {
          ul {
            li {
              list-style: none;
              margin-bottom: 1rem;
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
