$white: #ffffff;
$black: #24262B;
$superblack: #000000;
$lightgrey: #F9FAFB;
$digmicopy-neg: #E5E5E5;
$digmicopy: rgba(#24262B,0.7);
$digmicta: #F19B06;
$border-color: #D1D5DB;
$lightergrey: #E5E7EB;


body .gform_wrapper.gravity-theme {
    max-width: 1280px;
    margin: 0 auto;
    &#gform_wrapper_7 {
        max-width: unset;
        margin: unset;
        padding: unset;
    }
    &.order-form_wrapper {
        max-width: unset;
        margin: unset;
        padding: unset;
        .gform_footer {
            input {
                opacity: 0;
                pointer-events: none;
                position: absolute;
            }
        }
    }

  textarea {
      font-size: 0.875rem;
      font-family: $copy;
      padding: 9px;
  }
  select {
      font-size: 0.875rem;
      font-family: $copy;
      padding: 9px;
      border: 1px solid rgba($border-color,0.7);
      border-radius: 6px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba($black,0.05); 
      box-shadow: 0px 1px 2px 0px rgba($black,0.05);
  }
  input {
      &[type="text"],
      &[type="password"],
      &[type="email"],
      &[type="url"],
      &[type="date"],
      &[type="month"],
      &[type="time"],
      &[type="datetime"],
      &[type="datetime-local"],
      &[type="week"],
      &[type="number"],
      &[type="search"],
      &[type="color"],
      &[type="tel"],
      &[type="text"] {
          font-size: 0.875rem;
          font-family: $copy;
          padding: 9px;
          border: 1px solid rgba($border-color,0.7);
          border-radius: 6px;
          -webkit-box-shadow: 0px 1px 2px 0px rgba($black,0.05); 
          box-shadow: 0px 1px 2px 0px rgba($black,0.05);
      }
  }
  .gsection {
      border: 0;
      margin-bottom: -1rem;
      margin-top: 2rem;
      &:first-child {
          margin-top: 0;
      }
      h3.gsection_title {
          font-size: 1.125rem;
          font-weight: 500;
      }
  }
  .gfield_label {
      font-family: $copy;
      font-size: 0.875rem;
      font-weight: 500;
  }
  .gfield {
      &.gfield--width-full {
          display: flex;
          align-items: center;
          border-top: 1px solid rgba($border-color,0.5);
          padding-top: 1rem;
          .gfield_label {
              margin: 0 auto 0 0;
          }
          .ginput_container {
              width: 65%;
              input {
                  border: 1px solid rgba($border-color,0.7);
                  border-radius: 6px;
                  -webkit-box-shadow: 0px 1px 2px 0px rgba($black,0.05); 
                  box-shadow: 0px 1px 2px 0px rgba($black,0.05);
              }
          }
          &.saljare {
              border-top: 0;
              margin-top: -1rem;
              margin-bottom: 1rem;
              .ginput_container {
                  width: 100%;
              }
          }
      }
      &.extras {
          .digmi-wrapper {
              
              display: flex;
              width: 100%;
              justify-content: space-between;
              @media screen and (max-width: 960px) {
                  flex-wrap: wrap;
              }
              .pricing {
                  font-size: 0.875rem;
                  color: rgba($black,0.6);
                  text-align: right;
                  @media screen and (max-width: 960px) {
                      text-align: left;
                      margin-bottom: 1rem;
                  }
                  span {
                      display: block;
                      color: $black;
                  }
              }
              .checkbox {
                  position: relative;
                  margin-right: 1rem;
                  margin-top: 0.5rem;
                  @media screen and (max-width: 960px) {
                      margin-top: 0.5rem;
                      margin-bottom: 1rem;
                  }
                  label {
                      input {
                          opacity: 0;
                          pointer-events: none;
                      }
                      position: relative;
                      display: block;
                      width: 44px;
                      height: 28px;
                      background: $lightergrey;
                      border-radius: 15px;
                      border: 2px solid $white;
                      -webkit-box-shadow: 0px 0px 0px 3px rgba($lightergrey,1); 
                      box-shadow: 0px 0px 0px 3px rgba($lightergrey,1);
                      transition: all .2s;
                      &:after {
                          content: "";
                          display: block;
                          position: absolute;
                          top: 50%;
                          transform: translateY(-50%);
                          left: 3px;
                          height: 20px;
                          width: 20px;
                          border-radius: 50%;
                          background: $white;
                          -webkit-box-shadow: 0px 1px 2px 0px rgba($black,0.1); 
                          box-shadow: 0px 1px 2px 0px rgba($black,0.1);
                          transition: all .2s;
                          background-image: url(assets/images/check.svg);
                          background-repeat: no-repeat;
                          background-position: center center;
                          background-size: 0px 0px;

                      }
                      &.active {
                          background: $digmicta;
                          -webkit-box-shadow: 0px 0px 0px 3px rgba($digmicta,1); 
                          box-shadow: 0px 0px 0px 3px rgba($digmicta,1);
                          &:after {
                              transform: translateY(-50%) translateX(14px);
                              background-size: 12px 8px;

                          }
                      }
                  }

              }
          }
          overflow: hidden;
          border: 1px solid rgba($border-color,0.7) !important;
          border-radius: 6px;
          -webkit-box-shadow: unset;
          box-shadow: unset;
          background: $white;
          display: block;
          padding: 1.5rem 1.5rem 0;
          .gfield_label {
              margin-bottom: 0.25rem;
          }
          .ginput_container {
              width: calc(100% + 3rem);
              margin: 0;
              margin-left: -1.5rem;
              margin-right: -1.5rem;
              background: $lightgrey;
              padding: 1rem 1.5rem;
              text-align: right;
              &:before {
                  content: "Antal:";
                  display: inline-block;
                  margin-right: 0.5rem;
                  font-size: 0.875rem;
              }
              select {
                  width: auto;
                  display: inline-block;
              }
              input.appinfo {
                  width: 100%;
                  display: inline-block;
                  margin-top: 0.5rem;
              }
          }
          .gfield_description {
              font-size: 0.875rem;
              color: rgba($black,0.7);
              line-height: 1.5;
              span {
                  display: block;
                  font-size: 0.625rem;
              }
          }
      }
  }
}

.gform_validation_errors {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  .validation_error {
    border: none !important;
    text-align: left !important;
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
    opacity: 1;
  }
}

input[type="submit"] {
  margin-top: 1rem;
  padding: 0.875em 2.25em;
  text-decoration: none;
  border-radius: 8px;
  background: $primary;
  //text-transform: uppercase;
  //letter-spacing: 0.1rem;
  transition: all ease 250ms;
  outline: none;
  border: none;
  color: $white;
  //   @include orange_gradient;
  // background: $black_bg;
  font-family: $primary-font;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.2rem);
  &:hover {
    transform: translateX(0.2rem) translateY(-0.2rem);
    box-shadow: -0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  }
  &:focus {
    transform: translateX(0.1rem) translateY(-0.1rem);
    box-shadow: -0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  }
}

.gfield_required {
  display: none !important;
}

.gform_ajax_apinner {
  img {
    margin-left: 1rem !important;
  }
}

body .gform_wrapper.gravity-theme .gfield.gfield--width-full {
  border-top: none;
}


