// $border-color: black;

body .gform_wrapper.gravity-theme {

  textarea {
    padding: 9px;
  }
  select {
    padding: 9px;
    border: 1px solid rgba($border-color, 0.7);
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
    box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
  }
  input {
    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="url"],
    &[type="date"],
    &[type="month"],
    &[type="time"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="week"],
    &[type="number"],
    &[type="search"],
    &[type="color"],
    &[type="tel"],
    &[type="text"] {
      padding: 9px;
      border: 1px solid rgba($border-color, 0.7);
      border-radius: 6px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
      box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
    }
  }
  .gsection {
    border: 0;
    margin-bottom: -1rem;
    h3.gsection_title {
      font-weight: 500;
    }
  }
  .gfield_label {
    font-weight: 500;
  }
  .gfield {
    &.gfield--width-full {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba($border-color, 0.5);
      padding-top: 1rem;
      .gfield_label {
        margin: 0 auto 0 0;
      }
      .ginput_container {
        width: 65%;
        input {
          border: 1px solid rgba($border-color, 0.7);
          border-radius: 6px;
          -webkit-box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
          box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
        }
      }
      &.saljare {
        border-top: 0;
        margin-top: -1rem;
        margin-bottom: 1rem;
        .ginput_container {
          width: 100%;
        }
      }
    }
    &.extras {
      .digmi-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width: 960px) {
          flex-wrap: wrap;
        }
        .pricing {
          color: rgba($black, 0.6);
          text-align: right;
          @media screen and (max-width: 960px) {
            text-align: left;
            margin-bottom: 1rem;
          }
          span {
            display: block;
            color: $black;
          }
        }
        .checkbox {
          position: relative;
          margin-right: 1rem;
          margin-top: 0.5rem;
          @media screen and (max-width: 960px) {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
          }
          label {
            input {
              opacity: 0;
              pointer-events: none;
            }
            position: relative;
            display: block;
            width: 44px;
            height: 28px;
            background: $lightergrey;
            border-radius: 15px;
            border: 2px solid $white;
            -webkit-box-shadow: 0px 0px 0px 3px rgba($lightergrey, 1);
            box-shadow: 0px 0px 0px 3px rgba($lightergrey, 1);
            transition: all 0.2s;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 3px;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background: $white;
              -webkit-box-shadow: 0px 1px 2px 0px rgba($black, 0.1);
              box-shadow: 0px 1px 2px 0px rgba($black, 0.1);
              transition: all 0.2s;
              background-image: url(assets/images/check.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 0px 0px;
            }
            &.active {
              background: $digmicta;
              -webkit-box-shadow: 0px 0px 0px 3px rgba($digmicta, 1);
              box-shadow: 0px 0px 0px 3px rgba($digmicta, 1);
              &:after {
                transform: translateY(-50%) translateX(14px);
                background-size: 12px 8px;
              }
            }
          }
        }
      }
      border: 1px solid rgba($border-color, 0.7);
      border-radius: 6px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
      box-shadow: 0px 1px 2px 0px rgba($black, 0.05);
      background: $white;
      display: block;
      padding: 1.5rem 1.5rem 0;
      .gfield_label {
        margin-bottom: 0.25rem;
      }
      .ginput_container {
        width: calc(100% + 3rem);
        margin: 0;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        background: $lightgrey;
        padding: 1rem 1.5rem;
        text-align: right;
        &:before {
          content: "Antal:";
          display: inline-block;
          margin-right: 0.5rem;
        }
        select {
          width: auto;
          display: inline-block;
        }
        input.appinfo {
          width: 100%;
          display: inline-block;
          margin-top: 0.5rem;
        }
      }
      .gfield_description {
        color: rgba($black, 0.7);
        line-height: 1.5;
        span {
          display: block;
        }
      }
    }
  }
}

// Digmi table

.desktop {
  @media (max-width: 768px) {
    display: none;
  }
  .table-wrapper {
    //width: 1680px;
    margin: 0rem auto;
    padding: 6rem 10rem 3rem;
    @media (max-width: 1280px) {
      padding: 6rem 6rem 3rem;
    }
    @media (max-width: 1024px) {
      padding: 6rem 4rem 3rem;
    }
    @media (max-width: 768px) {
      padding: 6rem 2rem 3rem;
    }
    @media (max-width: 600x) {
      padding: 6rem 1rem 3rem;
    }
    max-width: 100%;

    section {
      margin: 0 0 55px 0;
    }

    * {
    }

    h6 {
      margin-bottom: 55px;
      font-weight: bold;
    }

    .table-wrapper-top {
      display: flex;

      .col {
        width: 33.33%;
        padding: 34px 17px 17px 34px;

        &.orange {
          border-top: 2px solid $digmicta;

          h6 {
            color: $digmicta;
            margin-bottom: 13px;
          }
        }

        &.black {
          border-top: 2px solid rgba($border-color, 0.5);

          h6 {
            color: #000;
            margin-bottom: 13px;
          }
        }
      }
    }

    .table-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .table-item {
        width: 31.33%;
        padding: 17px 34px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
        &:nth-child(2) {
          border-left: 2px solid $orange;
          border-right: 2px solid $orange;
        }

        &:first-child {
          padding-left: 0;
        }

        &.title {
          background: none;
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          justify-content: flex-start;
          font-family: $primary-font;
          font-weight: 400;
          color: rgba($black, 0.7);
        }

        img {
          width: 15px;
          height: 15px;
          margin-right: 13px;
        }

        p {
          margin-bottom: 0;
          color: $orange;
          text-align: center;
        }
      }

      &:first-of-type {
        .table-item {
          &:nth-child(2) {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top: 2px solid $orange;
          }
          &:nth-child(3) {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      &:last-child {
        .table-item {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          &:nth-child(2) {
            border-bottom: 2px solid $orange;
          }
        }
      }
    }
  }

  section.form {
    height: 100vh;
    width: 100vw;
    background: #f9fafb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    overflow-y: scroll;
    &.active {
      opacity: 1;
      pointer-events: unset;
    }
    nav {
      background: $black;
      padding: 3rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9;
      .nav-wrapper {
        margin: 0 auto;
        width: 1280px;
        padding: 0 2rem;
        max-width: calc(100vw - 6rem);
      }
      button {
        border: 0;
        background: 0;
        color: $white;
        font-size: 1.25rem;
        font-weight: 500;
        transition: all 0.2s;
        padding: 0;
        line-height: 1;
        margin-right: 0.125rem;
        padding: 0.5rem 0.75rem 0.375rem;
        border-radius: 4px;
        background: rgba($white, 0.1);
        img {
          vertical-align: middle;
          transition: all 0.2s;
          position: relative;
          top: -2px;
          display: inline-block;
          transform: rotate(180deg);
        }
        &:hover {
          background: rgba($white, 0.2);
          img {
            margin-right: 0.25rem;
          }
        }
      }
    }
    .form-wrapper {
      display: flex;
      align-items: flex-start;
      margin: 12rem auto 3rem;
      width: 1280px;
      padding: 0 2rem;
      max-width: calc(100vw - 6rem);
      position: relative;
      @media screen and (max-width: 767px) {
        display: block;
      }
      @media screen and (max-width: 960px) {
        padding: 0 1rem;
      }
      > * {
        width: 50%;
        padding: 0 2rem;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        @media screen and (max-width: 960px) {
          padding: 0 1rem;
        }
        &:nth-child(1) {
          margin-left: -2rem;
          @media screen and (max-width: 960px) {
            margin-left: -1rem;
          }
        }
        &:nth-last-child(1) {
          margin-right: -2rem;
          @media screen and (max-width: 960px) {
            margin-right: -1rem;
          }
        }
      }
      > .summary {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 12rem;
        left: 50%;
        @media screen and (max-width: 767px) {
          position: unset;
        }
        h2 {
          font-weight: 500;
          font-size: 1.25rem;
          margin: 0 0 1rem;
        }
        h3 {
          font-weight: 400;
          font-size: 0.875rem;
          margin: 0 0 1rem;
        }
        .inside {
          border-radius: 8px;
          padding: 0 1.5rem;
          border: 1px solid $border-color;
          background: #fff;
          ul.items {
            > li {
              display: block;
              border-bottom: 1px solid $border-color;
              margin: 0 -1.5rem;
              padding: 1.5rem 1.5rem;
              .summaryselector {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .selectholder {
                  font-size: 0.875rem;
                  @media screen and (max-width: 960px) {
                    text-align: right;
                  }
                  select {
                    width: 83px;
                    appearance: none;
                    background-color: #ffffff;
                    border: 1px solid #24262b;
                    padding: 0.625rem 0.75rem;
                    border-radius: 6px;
                    margin: 0 0 0 0.25rem;
                    font-size: 0.875rem;
                    font-size: inherit;
                    cursor: inherit;
                    line-height: inherit;
                    // background-image: url(assets/img/updown.svg);
                    // background-size: 10px 17px;
                    // background-repeat: no-repeat;
                    // background-position: right 0.5rem center;
                  }
                }
                > p {
                  font-size: 0.875rem;
                  color: rgba($black, 0.5);
                  margin-bottom: 0;
                  span {
                    color: $black;
                  }
                }
              }
              //background: aqua;
              &:nth-last-child(1) {
                border-bottom: 0;
              }
              ul.sub-items {
                > li {
                  border-top: 1px solid $border-color;
                  margin-top: 1rem;
                  padding-top: 1rem;
                  &:nth-last-child(1) {
                    //border-bottom: 0;
                  }
                  p {
                    font-size: 0.875rem;
                    color: $black;
                    margin: 0;
                    line-height: 1.8;
                    del,
                    span {
                      opacity: 0.5;
                      &.hide {
                        display: none;
                      }
                    }
                  }
                }
                > p {
                  font-size: 0.875rem;
                  color: rgba($black, 0.5);
                  margin-bottom: 0;
                  span {
                    color: $black;
                  }
                }
              }
              //background: aqua;
              &:nth-last-child(1) {
                border-bottom: 0;
              }
              &.summary {
                div {
                  display: flex;
                  justify-content: space-between;
                  p {
                    font-size: 1rem;
                    color: $black;
                    margin: 0.25rem;
                  }
                  &.totalt {
                    p {
                      font-weight: 500;
                    }
                  }
                }
              }
              &.summaryfooter {
                input {
                  background: $digmicta;
                  color: $white;
                  border: 0;
                  font-size: 1rem;
                  border-radius: 8px;
                  min-width: 50%;
                  padding: 1em;
                  transition: all 0.2s;
                  &:hover {
                    background: darken($digmicta, 3%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
  .table-wrapper {
    width: 1680px;
    margin: 0rem auto;
    padding: 6rem 2rem 3rem;
    max-width: calc(100vw - 6rem);

    @media (max-width: 768px) {
      padding: 55px 0 55px 0;
    }

    section {
      margin: 0 0 55px 0;
      // @media (max-width: 768px) {
      //   margin-bottom: 0;
      // }
      &.em {
        .table-row {
          .table-item {
            border-left: 2px solid $orange;
            border-right: 2px solid $orange;
          }
          &:first-child {
            .table-item {
              border-top: 2px solid $orange;
            }
          }
          &:last-child {
            .table-item {
              border-bottom: 2px solid $orange;
            }
          }
        }
      }
    }

    * {
    }

    h5 {
      font-weight: bold;
    }

    .table-wrapper-top {
      display: flex;

      .col {
        width: 33.33%;
        padding: 34px 17px 17px 34px;

        &.orange {
          border-top: 2px solid $digmicta;

          h6 {
            color: $digmicta;
            margin-bottom: 13px;
          }
        }

        &.black {
          border-top: 2px solid rgba($border-color, 0.5);

          h6 {
            color: #000;
            margin-bottom: 13px;
          }
        }
      }
    }

    .table-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      

      .table-item {
        width: 31.33%;
        padding: 24px 34px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);

        @media (max-width: 768px) {
          width: 100%;
          justify-content: space-between;
          font-family: $primary-font;
          color: rgba($black, 0.7);
        }

        &.title {
          background: none;
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        img {
          width: 15px;
          height: 15px;
          margin-right: 13px;
        }

        p {
          margin-bottom: 0;
          color: $orange;
        }
      }

      &:first-of-type {
        .table-item {
          &:nth-child(2) {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
          &:nth-child(3) {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
      }

      &:last-of-type {
        // border-bottom: none;
      }

      &:last-child {
        .table-item {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
section.form {
  height: 100vh;
  width: 100vw;
  background: #f9fafb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  overflow-y: scroll;
  &.active {
    opacity: 1;
    pointer-events: unset;
  }
  nav {
    background: $black;
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    .nav-wrapper {
      margin: 0 auto;
      width: 1280px;
      padding: 0 2rem;
      max-width: calc(100vw - 6rem);
    }
    button {
      border: 0;
      background: 0;
      color: $white;
      font-size: 1.25rem;
      font-weight: 500;
      transition: all 0.2s;
      padding: 0;
      line-height: 1;
      margin-right: 0.125rem;
      padding: 0.5rem 0.75rem 0.375rem;
      border-radius: 4px;
      background: rgba($white, 0.1);
      img {
        vertical-align: middle;
        transition: all 0.2s;
        position: relative;
        top: -2px;
        display: inline-block;
        transform: rotate(180deg);
      }
      &:hover {
        background: rgba($white, 0.2);
        img {
          margin-right: 0.25rem;
        }
      }
    }
  }
  .form-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 12rem auto 3rem;
    width: 1280px;
    padding: 0 2rem;
    max-width: calc(100vw - 6rem);
    position: relative;
    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (max-width: 960px) {
      padding: 0 1rem;
    }
    > * {
      width: 50%;
      padding: 0 2rem;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      @media screen and (max-width: 960px) {
        padding: 0 1rem;
      }
      &:nth-child(1) {
        margin-left: -2rem;
        @media screen and (max-width: 960px) {
          margin-left: -1rem;
        }
      }
      &:nth-last-child(1) {
        margin-right: -2rem;
        @media screen and (max-width: 960px) {
          margin-right: -1rem;
        }
      }
    }
    > .summary {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 12rem;
      left: 50%;
      @media screen and (max-width: 767px) {
        position: unset;
      }
      h2 {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 0 0 1rem;
      }
      h3 {
        font-weight: 400;
        font-size: 0.875rem;
        margin: 0 0 1rem;
      }
      .inside {
        border-radius: 8px;
        padding: 0 1.5rem;
        border: 1px solid $border-color;
        background: #fff;
        ul.items {
          > li {
            display: block;
            border-bottom: 1px solid $border-color;
            margin: 0 -1.5rem;
            padding: 1.5rem 1.5rem;
            .summaryselector {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              .selectholder {
                font-size: 0.875rem;
                @media screen and (max-width: 960px) {
                  text-align: right;
                }
                select {
                  width: 83px;
                  appearance: none;
                  background-color: #ffffff;
                  border: 1px solid #24262b;
                  padding: 0.625rem 0.75rem;
                  border-radius: 6px;
                  margin: 0 0 0 0.25rem;
                  font-size: 0.875rem;
                  font-size: inherit;
                  cursor: inherit;
                  line-height: inherit;
                  // background-image: url(assets/img/updown.svg);
                  // background-size: 10px 17px;
                  // background-repeat: no-repeat;
                  // background-position: right 0.5rem center;
                }
              }
              > p {
                font-size: 0.875rem;
                color: rgba($black, 0.5);
                margin-bottom: 0;
                span {
                  color: $black;
                }
              }
            }
            //background: aqua;
            &:nth-last-child(1) {
              border-bottom: 0;
            }
            ul.sub-items {
              > li {
                border-top: 1px solid $border-color;
                margin-top: 1rem;
                padding-top: 1rem;
                &:nth-last-child(1) {
                  //border-bottom: 0;
                }
                p {
                  font-size: 0.875rem;
                  color: $black;
                  margin: 0;
                  line-height: 1.8;
                  del,
                  span {
                    opacity: 0.5;
                    &.hide {
                      display: none;
                    }
                  }
                }
              }
            }
            &.summary {
              div {
                display: flex;
                justify-content: space-between;
                p {
                  font-size: 1rem;
                  color: $black;
                  margin: 0.25rem;
                }
                &.totalt {
                  p {
                    font-weight: 500;
                  }
                }
              }
            }
            &.summaryfooter {
              input {
                background: $digmicta;
                color: $white;
                border: 0;
                font-size: 1rem;
                border-radius: 8px;
                min-width: 50%;
                padding: 1em;
                transition: all 0.2s;
                &:hover {
                  background: darken($digmicta, 3%);
                }
              }
            }
          }
        }
      }
    }
  }
}
