

main {
  max-width: 1680px;
  margin: 0 auto;
  background: $white;
  padding-top:calc(100px);

}
#main-wrapper {
  margin-top: 100px;
  .block-wrapper {
    // margin-bottom: 100px;
    // padding: 100px 0;
    transition: all ease 500ms;
    transition-delay: 0.1s;
    opacity: 0;
    &.show {
      opacity: 1;
    }
    @media (max-width: 1024px) {
      padding: clamp(55px, 2vw, 110px) 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
  }
}

@mixin button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 1rem;
  * {
    // box-shadow: 0 0 0 1px red;
  }

  .button {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    padding: 8px 16px;
    border-radius: 8px;
    transition: all ease 250ms;
    text-decoration: none;
    transition: all ease 350ms;
    span {
      color: $white;
      font-weight: 500;
      font-size: 18px;
      transition: all ease 350ms;
      font-family: $primary-font;
      @media (max-width: 600px) {
        font-size: 14px;
      }
      &.orange {
        color: $orange;
      }
    }
    svg {
      width: 12px;
      height: 12px;
      transition: all ease 350ms;
      margin-left: 0.5rem;
    }
    &.primary {
      background: $orange;
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover {
        background: rgba($orange, 0.8);
        svg {
          transform: translateX(2.5px);
        }
      }
    }
    &.outline {
      box-shadow: inset 0 0 0 2px $orange;
      display: flex;
      align-items: center;
      &:hover {
        background: $orange;
        span {
          color: $white;
        }
      }
      span {
        color: $orange;
      }
    }
    &.black {
      background: $black_bg;
      display: flex;
      align-items: center;
      &:hover {
        background: rgba($black_bg, 0.8);
        svg {
          transform: translateX(2.5px);
        }
      }
      span {
        color: $white;
      }
    }
    &.grey {
      background: rgba($black_bg, 0.15);
      display: flex;
      align-items: center;
      span {
        color: $black_bg;
      }
    }
    &.normal {
      padding: 8px 16px;
      margin-left: -16px;
      display: flex;
      align-items: center;
      &:hover {
        svg {
          transform: translateX(2.5px);
        }
      }
      span {
        &.dark {
          color: $black_bg;
        }
        &.white {
          color: $white;
        }
      }
    }
  }
}
.button-wrapper {
  @include button-wrapper;
}

.wp-block-column.has-background {
  padding: 3rem;
  @media (max-width: 782px) {
    padding: 2rem;
  }
}
.wp-block-column:not(:first-child){
  @media (min-width: 782px) {
    margin-left: 4em;
  }
}



.wp-block-buttons {
  column-gap: 1rem;
  //margin-top: -0.5rem;
  &.block {
    margin-top: 1rem;
    .wp-block-button {
      width: 100%;
    }
  }
  .wp-block-button {

    &.is-style-outline {
      a.wp-block-button__link {
        //border: 1px solid currentColor;
        //box-shadow: inset 0 0 0 1px ;
        border:0;
        -webkit-box-shadow: inset 0px 0px 0px 1.1px currentColor; 
        box-shadow: inset 0px 0px 0px 1.1px currentColor;
      }
    }
    &:not(.is-style-outline) {
      a.wp-block-button__link.has-background {
        position: relative;
        &:after {
        }
      }

    }
    &.margin-fix {
      margin-left: -1em;
    }
    &.no-arrow {
      a.wp-block-button__link:after {
        content: none;
      }
    }
    &.fb-share {
      a.wp-block-button__link {
        padding: calc(0.375em + 2px) 1em 0.375em;
        background: #2374e1;
      }
    }
    &.linkedin-share {
      a.wp-block-button__link {
        padding: calc(0.375em + 2px) 1em 0.375em;
        background: #1d66c2;
      }
    }
    a.wp-block-button__link {
      //background: transparent;
      //color: $digmicopy;
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 8px;
      padding: 0.625em 1.375em;
      transition: all .2s;
      svg {
        height: 1.125em;
        vertical-align: middle;
        transform: translateY(-0.125em);
        width: auto;
        display: inline-block;
        path {
          fill: currentColor;
        }
        &.first {
          margin-right: 0.125em;
          margin-left: -0.125em; 
        }
        &.last {
          margin-right: -0.125em;
          margin-left: 0.125em; 
        }
      }
      

      &:hover {
        opacity: 0.9;
        transform: scale(1.025);
      }
      &.has-black-color {
        color: $black;
        &:after {
          background-image: url('data:image/svg+xml;utf8,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52099 0.436754L7.52085 0.43662C7.17954 0.0953047 6.62789 0.0953046 6.28658 0.43662C5.94527 0.777924 5.94526 1.32954 6.28654 1.67086C6.28655 1.67087 6.28656 1.67089 6.28658 1.6709L9.72656 5.12501H1.64996C1.16843 5.12501 0.774963 5.51847 0.774963 6.00001C0.774963 6.48154 1.16843 6.87501 1.64996 6.87501H9.72569L6.27907 10.3216C5.93776 10.6629 5.93776 11.2221 6.27907 11.5634C6.62039 11.9047 7.17204 11.9047 7.51335 11.5634L12.4559 6.6209C12.7972 6.27958 12.7972 5.72794 12.4559 5.38662L7.52099 0.436754Z" fill="%2324262b" stroke="%2324262b" stroke-width="0.25"/></svg>');
        }
      }
      &.has-lightgray-background-color {
        background: #E9E9EA;
      }
      &.has-white-background-color {
        background: $white;
      }
    }
  }
}


.book-support-btn {
  position: fixed;
  bottom: 34px;
  right: 34px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black_bg;
  z-index: 9999;
  text-decoration: none;
  cursor: pointer;
  span {
    color: white;
    font-size: 18px;
    width: 60%;
    text-align: center;
    box-shadow: 0 0 0 1px red;
    box-shadow: 10px 10px 40px rgba($black_bg, 0.5);
  }
}

.wp-block-yoast-faq-block {
  max-width: 810px;
  width: calc(100vw - 4rem);
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  @media (max-width: 960px) {
    padding: 3rem 0;
  }
  .schema-faq-section {
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    strong.schema-faq-question {
      font-size: clamp(1.125rem, 3.2vw, 1.75rem);
      font-family: $primary-font;
      display: block;
      margin-bottom: 0.25em;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      padding-right: 2rem;
      &:after {
        content: "";
        display: block;
        border: 2px solid lighten($orange, 0);
        border-left: 0;
        border-top: 0;
        height: 8px;
        width: 8px;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.2s;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .schema-faq-answer {
      position: absolute;
      transform: translateX(0) translateY(0);
      transition: all 0.2s;
      opacity: 0;
      padding-right: 2rem;
      //bottom: -1.5rem;
    }
    &.open {
      overflow: visible;
      strong.schema-faq-question {
        &:after {
          transform: translateY(-50%) rotate(-135deg);
        }
      }
      .schema-faq-answer {
        position: relative;
        opacity: 1;
        transform: translateX(0) translateY(0);
      }
    }
  }
  &.small-size {
    padding: 2rem 0 0;
    max-width: unset;
    width: unset;
    font-family: $secondary-font;
    .schema-faq-section {
      margin-bottom: 1rem;
      strong.schema-faq-question {
        font-size: 1rem;
      }
    }
  }
}

.has-orange-background-color {
  background: $orange;
}
.has-copy-background-color {
  background: $copy;
}
.has-lightgray-background-color {
  background: $lightgrey;
}
.has-black-background-color {
  background: $black;
}
.has-white-background-color {
  background: $white;
}


.has-orange-color {
  color: $orange;
}
.has-copy-color {
  color: $digmicopy;
}
.has-lightgray-color {
  color: $lightgrey;
}
.has-black-color {
  color: $black;
}
.has-white-color {
  color: $white;
}