.get-started-wrapper {
  * {
    // box-shadow: 0 0 0 1px red;
  }
  .wrapper {
    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column {
        width: calc(50% - 13px);

        @media (max-width: 960px) {
          width: 100%;
          margin-bottom: 34px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .usp-1-wrapper {
            width: calc(50% - 32px);

            @media (max-width: 600px) {
              width: 100%;
              margin-bottom: 34px;
            }
          }
          .usp-2-wrapper {
            width: 50%;

            @media (max-width: 600px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
