$black: #24262b;
$orange: #f19b06;
$white: #fff;
* {
  // box-shadow: 0 0 0 1px white;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  @at-root body.admin-bar header {
    margin-top:calc(32px);
  }

  .outer {
    background: $black_bg !important;

    .inner {
      padding: 20px 10rem 20px 10rem !important;
      @media (max-width: 1280px) {
        padding: 20px 6rem 20px 6rem !important;
      }
      @media (max-width: 1024px) {
        padding: 20px 4rem !important;
      }
      @media (max-width: 768px) {
        padding: 20px 2rem !important;
      }
      @media (max-width: 600x) {
        padding: 20px 1rem !important;
      }

      ul {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        width: 100%;
        @media (max-width: 1100px) {
          column-gap: 1rem;
        }
        @media (max-width: 1024px) {
          flex-wrap: wrap;
        }
        li {
          display: block;
          &.button-wrapper {
            margin: 0;
            margin-left: auto;
            display: flex;
            .button {
              &:nth-child(1) {
                @media (max-width: 1024px) {
                  display: none;
                }
              }
              span {
                @media (max-width: 1150px) {
                  font-size: 1rem;
                }
              }
            }
          }
          a.logotype {
            img {
              display: block;
            }
          }
          &.menu-item {
            @media (max-width: 1024px) {
              display: none;
              &.mobile-active {
                display: block;
                order: 9;
                width: 100%;
                margin-top: 1rem;
                &:nth-child(2) {
                  margin-top: 2rem;
                }
                &:nth-last-child(3) {
                  margin-bottom: 1rem;
                }
              }
            }

            a {
              color: $white;
              text-decoration: none;
              font-family: $primary-font;
              font-size:1.125rem;
              &:hover {
                text-decoration: underline;
              }
              @media (max-width: 1440px) {
                font-size: 1rem;
              }
              @media (max-width: 1050px) {
                font-size: 0.9375rem;
              }
              @media (max-width: 1024px) {
                font-size:1.25rem;
              }
            }
          }
          &.mobile-toggle {
            display: none;
            @media (max-width: 1024px) {
              display: block;
            }
            button {
              height: 32px;
              width: 32px;
              position: relative;
              background: none;
              margin: 0;
              display: block;
              border: 0;
              padding: 0;
              span {
                display: block;
                height: 2px;
                width: calc(100% - 4px);
                left: 2px;
                border-radius: 2px;
                background: $white;
                position: absolute;
                transition: all .2s;
                &:nth-child(1) {
                  top: calc(50% - 7px);
                  transform: translateY(-50%);
                }
                &:nth-child(2) {
                  top: 50%;
                  transform: translateY(-50%);
                }
                &:nth-child(3) {
                  top: calc(50% + 7px);
                  transform: translateY(-50%);
                }
              }
              &.active {
                span {
                  &:nth-child(1) {
                    top: calc(50%);
                    transform: translateY(-50%) rotate(-225deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:nth-child(3) {
                    top: calc(50%);
                    transform: translateY(-50%) rotate(225deg);
                  }
                }
              }
            }
          }
        }
      }

    }
  }

/*   .button-wrapper {
    margin-top: 0;
    .button {
      @media (max-width: 1100px) {
        &:nth-child(1) {
          display: none;
        }
      }
    }
  } */

  .wrapper {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      .col {
        display: flex;
        align-items: center;
        width: 50%;

        @media (max-width: 1100px) {
          &:nth-child(1) {
            width: 30%;
          }
          &:nth-child(2) {
            width: 70%;
          }
        }

        a.logotype {
          margin-right: 2rem;
          img {
          }
        }

        .desktop-menu {
          @media (max-width: 1100px) {
            display: none;
          }
          .menu {
            display: flex;

            li {
              list-style: none;
              margin-right: 1rem;

              a {
                color: $white;
                text-decoration: none;
                font-family: $primary-font !important;
              }
            }
          }
        }

        &:nth-child(2) {
          justify-content: flex-end;
        }

        .burger-wrapper {
          width: 21px;
          height: 16px;
          margin-left: 2rem;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
          position: relative;
          display: none;
          @media (max-width: 1100px) {
            display: flex;
          }
          &:before {
            content: "";
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: calc(100% + 1rem);
            height: calc(100% + 1rem);
            border-radius: 100px;
            background: rgba($white, 0.1);
            opacity: 0;
          }
          &:active,
          &:focus {
            &:before {
              opacity: 1;
            }
          }

          .line {
            width: 100%;
            height: 2px;
            border-radius: 100px;
            background: $white;
          }
        }
      }
    }
  }
}

