#image_text_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
  strong {
    font-size: 18px;
  }
  &.dark {
    background: $black_bg;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }
  }
  &.white {
    background: $white;
  }
  &.gray {
    background: #e1e1e1;
  }
  .wrapper {
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      .col {
        width: calc(50% - 52.5px);
        height: auto;
        @media (max-width: 960px) {
          width: 100%;
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;

            img {
              border-radius: 0;
            }
          }
        }
        &:nth-child(1) {
          &.background {
            position: relative;
            z-index: 2;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            .inner-left {
              width: calc(50% - 55px);
              @media (max-width: 768px) {
                width: 100%;
              }
            }
            .inner-right {
              width: calc(50% - 55px);
              @media (max-width: 768px) {
                width: 100%;
              }
            }
            .usps-wrapper {
              width: 100%;
              .usp {
                width: 100%;
              }
            }
          }
        }
        &:nth-child(2) {
          &.background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              // background: rgba(red, 0.8);
              z-index: 3;
            }
            img {
              border-radius: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateX(0);
              object-fit: cover;
            }
          }
        }
        img {
          width: calc(100% + 180px);
          height: 100%;
          position: relative;
          border-radius: 60px 0 0 60px;
          transform: translateX(-20px);
          &.normal {
            border-radius: 0;
          }
          @media (max-width: 960px) {
            transform: translateX(0);
            width: 100%;
            margin-bottom: 34px;
          }
        }
        &.left {
          h3 {
            margin-bottom: 1rem;
          }
          h2 {
            //
          }
          p {
            line-height: 28px;
          }
          // =========== Uspar
          // usp.scss
          // =========== Uspar
        }
        &.right {
          @media (max-width: 1440px) {
            transform: translateX(105px);
          }
          @media (max-width: 960px) {
            transform: translateX(0px);
          }
        }
        .naked-social-share {
          display: flex;
          ul {
            display: flex;
            span {
              color: $white;
            }
            li {
              margin-right: 16px;
              padding: 8px 16px;
              list-style: none;
              border-radius: 8px;
              &.nss-linkedin {
                background: #2867b2;
              }
              &.nss-facebook {
                background: #4267b2;
              }
              a {
                text-decoration: none;
                i {
                  display: none;
                }
                span.nss-site-name {
                  color: $white;
                }
                span.nss-site-count {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
