#image_text_special_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
  &.dark {
    background: $black_bg;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }
  }
  &.white {
    background: $white;
  }
  &.gray {
    background: #e1e1e1;
  }
  .wrapper {
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      .col {
        width: calc(50% - 52.5px);
        height: auto;
        @media (max-width: 960px) {
          width: 100%;
          margin-top: 34px;
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;

            img {
              border-radius: 0;
            }
          }
        }
        .content-1-wrapper {
          margin-bottom: 30%;
          @media (max-width: 960px) {
            margin-bottom: 0;
          }
        }
        .content-2-wrapper {
          .h2 {
            color: $orange;
          }
        }
        img {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 60px;
          transform: translateX(0px);
          &.normal {
            border-radius: 0;
          }
        }
        &.left {
          h3 {
            margin-bottom: 1rem;
          }
          h2 {
            //
          }
          p {
            line-height: 28px;
          }
        }
      }
    }
  }
}
