.page-title-wrapper {
  //   padding: 2.5rem;
  //   @include orange_gradient;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 15rem 0 5rem 0;
  transition: all ease 450ms;
}
