#partners_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  h2 {
    width: 100%;
    margin-bottom: 55px;

    @media (max-width: 960px) {
      text-align: center;
    }
  }
  .logotypes-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -2rem;
    width: 100%;


    @media (max-width: 960px) {
      margin: 0 -1rem;
      justify-content: center;
      flex-wrap: wrap;
    }

    img {
      object-fit: contain;
      max-height: 90px;
      max-width: 160px;
      margin: 1rem 2rem;
      @media (max-width: 960px) {
        margin: 1rem 1rem;
      }
    }
  }
}
