#quote_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    // box-shadow: 0 0 0 1px $orange;
  }
  .quote-inner {
    position: relative;
    padding: 110px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // flex-wrap: wrap;
    align-items: center;
    .dots-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
      }
    }
    .image-wrapper {
      position: relative;
      z-index: 2;
      img {
        border-radius: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }
    .meta-wrapper {
      position: relative;
      margin-left: 55px;
      p {
        font-size: 24px;
      }
      h5 {
        margin: 0;
        &:last-of-type {
          margin-top: 8px;
        }
      }
      .quote-icon {
        position: absolute;
        left: -10px;
        top: -90%;
        svg {
          width: 150px;
          height: auto;
        }
      }
      .text-orange {
        color: $orange;
      }
    }
  }
}
