.testimonial-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 5rem 0;
  @media (max-width: 960px) {
    padding: 3rem 0;
  }
  margin-bottom: 0;
  .container-inner {
    max-width: calc(100vw - 4rem);
  }
  .background-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    transform: translateZ(0);
    width: 100%;
    height: auto;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &:before {
      @include filter;
    }
    @media (max-width: 768px) {
      padding: 7rem 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      //border-radius: 2rem;
      animation: kenburns 9s ease-in-out alternate infinite;
    }
    @keyframes kenburns {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
    h4 {
      margin-bottom: 2rem;
    }
    h5 {
      margin-bottom: 0;
    }
    h4,
    h5 {
      position: relative;
      z-index: 2;
      width: calc(100% - 25rem);
      @media (max-width: 1440px) {
        width: calc(100% - 15rem);
      }
      @media (max-width: 960px) {
        width: calc(100% - 10rem);
      }
      @media (max-width: 768px) {
        width: calc(100% - 5rem);
      }
    }
  }
}
