* {
  // box-shadow: 0 0 0 1px blue;
}
.wp-block-columns.block-text-cta {
  h2 {
    &:first-child {
      margin-top: 36.4px;
    }
  }
}

#text-cta-wrapper {
  padding: 0 10rem;

  @media (max-width: 1280px) {
    padding: 0 6rem;
  }
  @media (max-width: 1024px) {
    padding: 0 4rem;
  }
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  @media (max-width: 600x) {
    padding: 0 1rem;
  }

  @media (max-width: 600px) {
    width: 100% !important;
    padding: 17px 0 !important;
  }
  &:nth-last-of-type(2) {
    display: block;
  }
  &.dark {
    background: $black_bg;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }
  }
  .outer {
    background: none;
  }
  h3 {
    //
  }
  h2 {
    &:first-child {
      margin-top: 36.4px;
    }
  }
}

