h1,
.h1 {
  font-size: clamp(42px, 5vw, 60px);
  line-height: 1.1;
  font-weight: 500;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: balance-text;
  font-family: $headline;
  color: $black;
}

h2,
.h2 {
  font-size: clamp(24px, 5vw, 42px);
  margin-bottom: 1rem;
  margin-top: 0.25em;
  line-height: 1.1;
  font-weight: 500;
  font-family: $headline;
  color: $black;

  &:first-child {
    margin-top: 0;
  }

}

h3,
.h3 {
  font-size: clamp(20px, 5vw, 28px);
  margin-top: 0.5em;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: $headline;
  color: $black;

  &:first-child {
    margin-top: 0;
  }

}

h4,
.h4 {
  font-size: clamp(18px, 5vw, 24px);
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  font-family: $headline;
  color: $black;

  &:first-child {
    margin-top: 0;
  }

}

h5,
.h5 {
  font-size: clamp(16px, 5vw, 18px);
  margin-bottom: 0.125rem;
  color: $black;

}

p {
  font-weight: 400;
  font-family: $primary-font;
  font-size: 1rem;
  margin-bottom: 1em;
}

p.sm {
  font-size: clamp(12px, 5vw, 14px);
}

.mobile-menu {
  ul {
    li {
      a {
        font-size: clamp(24px, 5vw, 42px);
      }
    }
  }
}

a {
  color: $orange;
}

main ul:not(.usp) {
  li {
    margin: 1rem 0 0;
    padding-left: 1.25rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 50px;;
      background: $primary;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}
ol {
  margin: 2rem 0 0;
  padding: 0;
  counter-reset: my-awesome-counter;
  li {
    font-family: $secondary-font;
    display: flex;
    counter-increment: my-awesome-counter;
    margin: 1rem 0;
    font-weight: 500;
    &::before {
      content: counter(my-awesome-counter);
      display: block;
      background-color: $orange !important;
      width: 40px;
      height: 40px;
      line-height: revert;
      text-align: center;
      border-radius: 50%;
      color: $white;
      font-size: 24px;
      font-weight: 700;
      flex-shrink: 0;
      position: relative;
      top: -6px;
      margin-right: 1.5rem;
    }
  }
}

.wp-block-media-text {
  margin: 3rem 0;
  &.has-media-on-the-right {
    .wp-block-media-text__content {
      padding-left: 10rem;

      @media (max-width: 1280px) {
        padding-left: 6rem;
      }
      @media (max-width: 1024px) {
        padding-left: 4rem;
      }
      @media (max-width: 768px) {
        padding-left: 2rem;
      }
      @media (max-width: 600x) {
        padding-left: 1rem;
      }

    }
    .wp-block-media-text__media {
      padding-left: 40px;
      img {
        border-radius: 60px 0 0 60px;
      }
      @media (max-width: 600px) {
        margin-bottom: 2rem;
      }
      @media (min-width: 601px) {
        height: 100%;
        img {
          object-fit: cover;
          height: 100%;
        }
      }
    }
    
  }
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
  @media (min-width: 782px) {
    margin-left: var(--wp--style--block-gap, 4rem);
  }
  @media (max-width: 781px) {
    &:nth-child(n+3) {
      margin-top: 2rem;
    }
  }
  @media (max-width: 599px) {
    &:nth-child(n+1) {
      margin-top: 1rem;
    }
  }
  
}

.wp-block-cover {
  padding: 164px 0;
  @media (max-width: 768px) {
    padding: 64px 0;
  }
  width: 100%;
  .wp-block-cover__inner-container {
    padding: 2rem 10rem;
    @media (max-width: 1280px) {
      padding: 2rem 6rem;
    }
    @media (max-width: 1024px) {
      padding: 2rem 4rem;
    }
    @media (max-width: 768px) {
      padding: 2rem 2rem;
    }
    @media (max-width: 600x) {
      padding: 2rem 1rem;
    }
  }
}
.wp-block-group {
  &:first-child {
    padding-top: 2rem;
  }
  width: 100%;
  .wp-block-group__inner-container {
    padding: 3rem 10rem;
    @media (max-width: 1280px) {
      padding: 3rem 6rem;
    }
    @media (max-width: 1024px) {
      padding: 2.5rem 4rem;
    }
    @media (max-width: 768px) {
      padding: 2rem 2rem;
    }
    @media (max-width: 600x) {
      padding: 2rem 1rem;
    }
  }
}

:root body .has-black-background-color {
  background: #24262b;
}