.usps-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 4rem;

  .usp {
    width: 45%;
    @media (max-width: 460px) {
      width: 100%;
      margin-bottom: 34px;
    }
    strong {
      margin-bottom: 0.5rem;
      color: $white;
      display: block;
    }
  }
}
