/*!
Theme Name: Digmi WP Theme
Theme URI: https://oas.nu
Version: 2.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  text-rendering: optimizeLegibiity;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: #f19b06;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: #e7e7e7;
  line-height: 1.75;
  color: rgba(36, 38, 43, 0.7);
}

img {
  max-width: 100%;
  height: auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

main {
  max-width: 1680px;
  margin: 0 auto;
  background: #ffffff;
  padding-top: calc(100px);
}

#main-wrapper {
  margin-top: 100px;
}
#main-wrapper .block-wrapper {
  transition: all ease 500ms;
  transition-delay: 0.1s;
  opacity: 0;
}
#main-wrapper .block-wrapper.show {
  opacity: 1;
}
@media (max-width: 1024px) {
  #main-wrapper .block-wrapper {
    padding: clamp(55px, 2vw, 110px) 0;
  }
}
#main-wrapper .block-wrapper:first-of-type {
  padding-top: 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 1rem;
}
.button-wrapper .button {
  margin-right: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all ease 250ms;
  text-decoration: none;
  transition: all ease 350ms;
}
.button-wrapper .button:last-child {
  margin-right: 0;
}
.button-wrapper .button span {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  transition: all ease 350ms;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 600px) {
  .button-wrapper .button span {
    font-size: 14px;
  }
}
.button-wrapper .button span.orange {
  color: #f19b06;
}
.button-wrapper .button svg {
  width: 12px;
  height: 12px;
  transition: all ease 350ms;
  margin-left: 0.5rem;
}
.button-wrapper .button.primary {
  background: #f19b06;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.button-wrapper .button.primary:hover {
  background: rgba(241, 155, 6, 0.8);
}
.button-wrapper .button.primary:hover svg {
  transform: translateX(2.5px);
}
.button-wrapper .button.outline {
  box-shadow: inset 0 0 0 2px #f19b06;
  display: flex;
  align-items: center;
}
.button-wrapper .button.outline:hover {
  background: #f19b06;
}
.button-wrapper .button.outline:hover span {
  color: #ffffff;
}
.button-wrapper .button.outline span {
  color: #f19b06;
}
.button-wrapper .button.black {
  background: #24262b;
  display: flex;
  align-items: center;
}
.button-wrapper .button.black:hover {
  background: rgba(36, 38, 43, 0.8);
}
.button-wrapper .button.black:hover svg {
  transform: translateX(2.5px);
}
.button-wrapper .button.black span {
  color: #ffffff;
}
.button-wrapper .button.grey {
  background: rgba(36, 38, 43, 0.15);
  display: flex;
  align-items: center;
}
.button-wrapper .button.grey span {
  color: #24262b;
}
.button-wrapper .button.normal {
  padding: 8px 16px;
  margin-left: -16px;
  display: flex;
  align-items: center;
}
.button-wrapper .button.normal:hover svg {
  transform: translateX(2.5px);
}
.button-wrapper .button.normal span.dark {
  color: #24262b;
}
.button-wrapper .button.normal span.white {
  color: #ffffff;
}

.wp-block-column.has-background {
  padding: 3rem;
}
@media (max-width: 782px) {
  .wp-block-column.has-background {
    padding: 2rem;
  }
}

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 4em;
  }
}

.wp-block-buttons {
  column-gap: 1rem;
}
.wp-block-buttons.block {
  margin-top: 1rem;
}
.wp-block-buttons.block .wp-block-button {
  width: 100%;
}
.wp-block-buttons .wp-block-button.is-style-outline a.wp-block-button__link {
  border: 0;
  -webkit-box-shadow: inset 0px 0px 0px 1.1px currentColor;
  box-shadow: inset 0px 0px 0px 1.1px currentColor;
}
.wp-block-buttons .wp-block-button:not(.is-style-outline) a.wp-block-button__link.has-background {
  position: relative;
}
.wp-block-buttons .wp-block-button.margin-fix {
  margin-left: -1em;
}
.wp-block-buttons .wp-block-button.no-arrow a.wp-block-button__link:after {
  content: none;
}
.wp-block-buttons .wp-block-button.fb-share a.wp-block-button__link {
  padding: calc(0.375em + 2px) 1em 0.375em;
  background: #2374e1;
}
.wp-block-buttons .wp-block-button.linkedin-share a.wp-block-button__link {
  padding: calc(0.375em + 2px) 1em 0.375em;
  background: #1d66c2;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.625em 1.375em;
  transition: all 0.2s;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link svg {
  height: 1.125em;
  vertical-align: middle;
  transform: translateY(-0.125em);
  width: auto;
  display: inline-block;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link svg path {
  fill: currentColor;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link svg.first {
  margin-right: 0.125em;
  margin-left: -0.125em;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link svg.last {
  margin-right: -0.125em;
  margin-left: 0.125em;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link:hover {
  opacity: 0.9;
  transform: scale(1.025);
}
.wp-block-buttons .wp-block-button a.wp-block-button__link.has-black-color {
  color: #24262b;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link.has-black-color:after {
  background-image: url('data:image/svg+xml;utf8,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52099 0.436754L7.52085 0.43662C7.17954 0.0953047 6.62789 0.0953046 6.28658 0.43662C5.94527 0.777924 5.94526 1.32954 6.28654 1.67086C6.28655 1.67087 6.28656 1.67089 6.28658 1.6709L9.72656 5.12501H1.64996C1.16843 5.12501 0.774963 5.51847 0.774963 6.00001C0.774963 6.48154 1.16843 6.87501 1.64996 6.87501H9.72569L6.27907 10.3216C5.93776 10.6629 5.93776 11.2221 6.27907 11.5634C6.62039 11.9047 7.17204 11.9047 7.51335 11.5634L12.4559 6.6209C12.7972 6.27958 12.7972 5.72794 12.4559 5.38662L7.52099 0.436754Z" fill="%2324262b" stroke="%2324262b" stroke-width="0.25"/></svg>');
}
.wp-block-buttons .wp-block-button a.wp-block-button__link.has-lightgray-background-color {
  background: #E9E9EA;
}
.wp-block-buttons .wp-block-button a.wp-block-button__link.has-white-background-color {
  background: #ffffff;
}

.book-support-btn {
  position: fixed;
  bottom: 34px;
  right: 34px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24262b;
  z-index: 9999;
  text-decoration: none;
  cursor: pointer;
}
.book-support-btn span {
  color: white;
  font-size: 18px;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 0 1px red;
  box-shadow: 10px 10px 40px rgba(36, 38, 43, 0.5);
}

.wp-block-yoast-faq-block {
  max-width: 810px;
  width: calc(100vw - 4rem);
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
}
@media (max-width: 960px) {
  .wp-block-yoast-faq-block {
    padding: 3rem 0;
  }
}
.wp-block-yoast-faq-block .schema-faq-section {
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
.wp-block-yoast-faq-block .schema-faq-section strong.schema-faq-question {
  font-size: clamp(1.125rem, 3.2vw, 1.75rem);
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 0.25em;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  padding-right: 2rem;
}
.wp-block-yoast-faq-block .schema-faq-section strong.schema-faq-question:after {
  content: "";
  display: block;
  border: 2px solid #f19b06;
  border-left: 0;
  border-top: 0;
  height: 8px;
  width: 8px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.2s;
}
.wp-block-yoast-faq-block .schema-faq-section strong.schema-faq-question:hover {
  text-decoration: underline;
}
.wp-block-yoast-faq-block .schema-faq-section .schema-faq-answer {
  position: absolute;
  transform: translateX(0) translateY(0);
  transition: all 0.2s;
  opacity: 0;
  padding-right: 2rem;
}
.wp-block-yoast-faq-block .schema-faq-section.open {
  overflow: visible;
}
.wp-block-yoast-faq-block .schema-faq-section.open strong.schema-faq-question:after {
  transform: translateY(-50%) rotate(-135deg);
}
.wp-block-yoast-faq-block .schema-faq-section.open .schema-faq-answer {
  position: relative;
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.wp-block-yoast-faq-block.small-size {
  padding: 2rem 0 0;
  max-width: unset;
  width: unset;
  font-family: "HarpersGrotesque", sans-serif;
}
.wp-block-yoast-faq-block.small-size .schema-faq-section {
  margin-bottom: 1rem;
}
.wp-block-yoast-faq-block.small-size .schema-faq-section strong.schema-faq-question {
  font-size: 1rem;
}

.has-orange-background-color {
  background: #f19b06;
}

.has-copy-background-color {
  background: "Roboto", sans-serif;
}

.has-lightgray-background-color {
  background: #f9fafb;
}

.has-black-background-color {
  background: #24262b;
}

.has-white-background-color {
  background: #ffffff;
}

.has-orange-color {
  color: #f19b06;
}

.has-copy-color {
  color: rgba(36, 38, 43, 0.7);
}

.has-lightgray-color {
  color: #f9fafb;
}

.has-black-color {
  color: #24262b;
}

.has-white-color {
  color: #ffffff;
}

h1,
.h1 {
  font-size: clamp(42px, 5vw, 60px);
  line-height: 1.1;
  font-weight: 500;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: balance-text;
  font-family: "HarpersGrotesque", sans-serif;
  color: #24262b;
}

h2,
.h2 {
  font-size: clamp(24px, 5vw, 42px);
  margin-bottom: 1rem;
  margin-top: 0.25em;
  line-height: 1.1;
  font-weight: 500;
  font-family: "HarpersGrotesque", sans-serif;
  color: #24262b;
}
h2:first-child,
.h2:first-child {
  margin-top: 0;
}

h3,
.h3 {
  font-size: clamp(20px, 5vw, 28px);
  margin-top: 0.5em;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "HarpersGrotesque", sans-serif;
  color: #24262b;
}
h3:first-child,
.h3:first-child {
  margin-top: 0;
}

h4,
.h4 {
  font-size: clamp(18px, 5vw, 24px);
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  font-family: "HarpersGrotesque", sans-serif;
  color: #24262b;
}
h4:first-child,
.h4:first-child {
  margin-top: 0;
}

h5,
.h5 {
  font-size: clamp(16px, 5vw, 18px);
  margin-bottom: 0.125rem;
  color: #24262b;
}

p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1em;
}

p.sm {
  font-size: clamp(12px, 5vw, 14px);
}

.mobile-menu ul li a {
  font-size: clamp(24px, 5vw, 42px);
}

a {
  color: #f19b06;
}

main ul:not(.usp) li {
  margin: 1rem 0 0;
  padding-left: 1.25rem;
  position: relative;
}
main ul:not(.usp) li::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background: #f19b06;
  position: absolute;
  left: 0;
  top: 10px;
}

ol {
  margin: 2rem 0 0;
  padding: 0;
  counter-reset: my-awesome-counter;
}
ol li {
  font-family: "HarpersGrotesque", sans-serif;
  display: flex;
  counter-increment: my-awesome-counter;
  margin: 1rem 0;
  font-weight: 500;
}
ol li::before {
  content: counter(my-awesome-counter);
  display: block;
  background-color: #f19b06 !important;
  width: 40px;
  height: 40px;
  line-height: revert;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  flex-shrink: 0;
  position: relative;
  top: -6px;
  margin-right: 1.5rem;
}

.wp-block-media-text {
  margin: 3rem 0;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding-left: 10rem;
}
@media (max-width: 1280px) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 6rem;
  }
}
@media (max-width: 1024px) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 4rem;
  }
}
@media (max-width: 768px) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 2rem;
  }
}
@media (max-width: 600x) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 1rem;
  }
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
  padding-left: 40px;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media img {
  border-radius: 60px 0 0 60px;
}
@media (max-width: 600px) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
    margin-bottom: 2rem;
  }
}
@media (min-width: 601px) {
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
    height: 100%;
  }
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media img {
    object-fit: cover;
    height: 100%;
  }
}

@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
    margin-left: var(--wp--style--block-gap, 4rem);
  }
}
@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child):nth-child(n+3) {
    margin-top: 2rem;
  }
}
@media (max-width: 599px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child):nth-child(n+1) {
    margin-top: 1rem;
  }
}

.wp-block-cover {
  padding: 164px 0;
  width: 100%;
}
@media (max-width: 768px) {
  .wp-block-cover {
    padding: 64px 0;
  }
}
.wp-block-cover .wp-block-cover__inner-container {
  padding: 2rem 10rem;
}
@media (max-width: 1280px) {
  .wp-block-cover .wp-block-cover__inner-container {
    padding: 2rem 6rem;
  }
}
@media (max-width: 1024px) {
  .wp-block-cover .wp-block-cover__inner-container {
    padding: 2rem 4rem;
  }
}
@media (max-width: 768px) {
  .wp-block-cover .wp-block-cover__inner-container {
    padding: 2rem 2rem;
  }
}
@media (max-width: 600x) {
  .wp-block-cover .wp-block-cover__inner-container {
    padding: 2rem 1rem;
  }
}

.wp-block-group {
  width: 100%;
}
.wp-block-group:first-child {
  padding-top: 2rem;
}
.wp-block-group .wp-block-group__inner-container {
  padding: 3rem 10rem;
}
@media (max-width: 1280px) {
  .wp-block-group .wp-block-group__inner-container {
    padding: 3rem 6rem;
  }
}
@media (max-width: 1024px) {
  .wp-block-group .wp-block-group__inner-container {
    padding: 2.5rem 4rem;
  }
}
@media (max-width: 768px) {
  .wp-block-group .wp-block-group__inner-container {
    padding: 2rem 2rem;
  }
}
@media (max-width: 600x) {
  .wp-block-group .wp-block-group__inner-container {
    padding: 2rem 1rem;
  }
}

:root body .has-black-background-color {
  background: #24262b;
}

.big-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.big-wrapper.book-demo .wrapper .inner {
  padding-top: 0;
}
.big-wrapper .outer {
  width: 1680px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.big-wrapper .outer.header {
  background: #24262b;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.wrapper .inner {
  width: 100%;
  padding: clamp(12px, 5vw, 55px) 10rem;
}
@media (max-width: 1280px) {
  .wrapper .inner {
    padding: clamp(12px, 5vw, 55px) 6rem;
  }
}
@media (max-width: 1024px) {
  .wrapper .inner {
    padding: clamp(12px, 5vw, 55px) 4rem;
  }
}
@media (max-width: 768px) {
  .wrapper .inner {
    padding: clamp(12px, 5vw, 55px) 2rem;
  }
}
@media (max-width: 600x) {
  .wrapper .inner {
    padding: clamp(12px, 5vw, 55px) 1rem;
  }
}

.usps-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.usps-wrapper .usp {
  width: 45%;
}
@media (max-width: 460px) {
  .usps-wrapper .usp {
    width: 100%;
    margin-bottom: 34px;
  }
}
.usps-wrapper .usp strong {
  margin-bottom: 0.5rem;
  color: #ffffff;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*   .button-wrapper {
      margin-top: 0;
      .button {
        @media (max-width: 1100px) {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    } */
}
body.admin-bar header {
  margin-top: calc(32px);
}

header .outer {
  background: #24262b !important;
}
header .outer .inner {
  padding: 20px 10rem 20px 10rem !important;
}
@media (max-width: 1280px) {
  header .outer .inner {
    padding: 20px 6rem 20px 6rem !important;
  }
}
@media (max-width: 1024px) {
  header .outer .inner {
    padding: 20px 4rem !important;
  }
}
@media (max-width: 768px) {
  header .outer .inner {
    padding: 20px 2rem !important;
  }
}
@media (max-width: 600x) {
  header .outer .inner {
    padding: 20px 1rem !important;
  }
}
header .outer .inner ul {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  width: 100%;
}
@media (max-width: 1100px) {
  header .outer .inner ul {
    column-gap: 1rem;
  }
}
@media (max-width: 1024px) {
  header .outer .inner ul {
    flex-wrap: wrap;
  }
}
header .outer .inner ul li {
  display: block;
}
header .outer .inner ul li.button-wrapper {
  margin: 0;
  margin-left: auto;
  display: flex;
}
@media (max-width: 1024px) {
  header .outer .inner ul li.button-wrapper .button:nth-child(1) {
    display: none;
  }
}
@media (max-width: 1150px) {
  header .outer .inner ul li.button-wrapper .button span {
    font-size: 1rem;
  }
}
header .outer .inner ul li a.logotype img {
  display: block;
}
@media (max-width: 1024px) {
  header .outer .inner ul li.menu-item {
    display: none;
  }
  header .outer .inner ul li.menu-item.mobile-active {
    display: block;
    order: 9;
    width: 100%;
    margin-top: 1rem;
  }
  header .outer .inner ul li.menu-item.mobile-active:nth-child(2) {
    margin-top: 2rem;
  }
  header .outer .inner ul li.menu-item.mobile-active:nth-last-child(3) {
    margin-bottom: 1rem;
  }
}
header .outer .inner ul li.menu-item a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}
header .outer .inner ul li.menu-item a:hover {
  text-decoration: underline;
}
@media (max-width: 1440px) {
  header .outer .inner ul li.menu-item a {
    font-size: 1rem;
  }
}
@media (max-width: 1050px) {
  header .outer .inner ul li.menu-item a {
    font-size: 0.9375rem;
  }
}
@media (max-width: 1024px) {
  header .outer .inner ul li.menu-item a {
    font-size: 1.25rem;
  }
}
header .outer .inner ul li.mobile-toggle {
  display: none;
}
@media (max-width: 1024px) {
  header .outer .inner ul li.mobile-toggle {
    display: block;
  }
}
header .outer .inner ul li.mobile-toggle button {
  height: 32px;
  width: 32px;
  position: relative;
  background: none;
  margin: 0;
  display: block;
  border: 0;
  padding: 0;
}
header .outer .inner ul li.mobile-toggle button span {
  display: block;
  height: 2px;
  width: calc(100% - 4px);
  left: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s;
}
header .outer .inner ul li.mobile-toggle button span:nth-child(1) {
  top: calc(50% - 7px);
  transform: translateY(-50%);
}
header .outer .inner ul li.mobile-toggle button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .outer .inner ul li.mobile-toggle button span:nth-child(3) {
  top: calc(50% + 7px);
  transform: translateY(-50%);
}
header .outer .inner ul li.mobile-toggle button.active span:nth-child(1) {
  top: calc(50%);
  transform: translateY(-50%) rotate(-225deg);
}
header .outer .inner ul li.mobile-toggle button.active span:nth-child(2) {
  opacity: 0;
}
header .outer .inner ul li.mobile-toggle button.active span:nth-child(3) {
  top: calc(50%);
  transform: translateY(-50%) rotate(225deg);
}
header .wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
header .wrapper .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .wrapper .inner .col {
  display: flex;
  align-items: center;
  width: 50%;
}
@media (max-width: 1100px) {
  header .wrapper .inner .col:nth-child(1) {
    width: 30%;
  }
  header .wrapper .inner .col:nth-child(2) {
    width: 70%;
  }
}
header .wrapper .inner .col a.logotype {
  margin-right: 2rem;
}
@media (max-width: 1100px) {
  header .wrapper .inner .col .desktop-menu {
    display: none;
  }
}
header .wrapper .inner .col .desktop-menu .menu {
  display: flex;
}
header .wrapper .inner .col .desktop-menu .menu li {
  list-style: none;
  margin-right: 1rem;
}
header .wrapper .inner .col .desktop-menu .menu li a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
}
header .wrapper .inner .col:nth-child(2) {
  justify-content: flex-end;
}
header .wrapper .inner .col .burger-wrapper {
  width: 21px;
  height: 16px;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  display: none;
}
@media (max-width: 1100px) {
  header .wrapper .inner .col .burger-wrapper {
    display: flex;
  }
}
header .wrapper .inner .col .burger-wrapper:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
}
header .wrapper .inner .col .burger-wrapper:active:before, header .wrapper .inner .col .burger-wrapper:focus:before {
  opacity: 1;
}
header .wrapper .inner .col .burger-wrapper .line {
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background: #fff;
}

footer {
  margin-top: auto;
  position: relative;
  padding: 110px 0;
  width: 100%;
  font-family: "HarpersGrotesque", sans-serif;
  background: #F9FAFB;
}
footer * {
  color: #24262b !important;
}
footer .footer-wrapper {
  background: #e5e7eb;
}
footer .wrapper .inner {
  display: flex;
  flex-wrap: wrap;
}
footer .wrapper .inner .col {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  footer .wrapper .inner .col {
    width: 100%;
  }
  footer .wrapper .inner .col:last-of-type {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  footer .wrapper .inner .col:nth-child(1) {
    order: 2;
    margin-top: 2rem;
  }
  footer .wrapper .inner .col:nth-child(2) {
    order: 1;
  }
}
footer .wrapper .inner .col .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
}
footer .wrapper .inner .col .row:last-child {
  margin-bottom: 0;
}
footer .wrapper .inner .col .row.footer-nav {
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  footer .wrapper .inner .col .row.footer-nav {
    justify-content: flex-start;
  }
}
footer .wrapper .inner .col .row .social-links {
  display: flex;
}
footer .wrapper .inner .col .row .social-links li {
  list-style: none;
  margin-right: 1rem;
}
footer .wrapper .inner .col .row .social-links li:last-of-type {
  margin-right: 0;
}
footer .wrapper .inner .col .row .social-links li a img {
  width: 24px;
  height: 24px;
}
footer .wrapper .inner .col .row .sub-col {
  width: calc(33.33% - 17px);
}
@media (max-width: 768px) {
  footer .wrapper .inner .col .row .sub-col {
    width: 100%;
  }
}
footer .wrapper .inner .col .row .sub-col p {
  text-align: left;
}
footer .wrapper .inner .col .row .sub-col strong {
  display: inline-block;
  margin-bottom: 0.375rem;
}
footer .wrapper .inner .col .row .sub-col.footer-menu-1 {
  width: auto;
}
@media (max-width: 768px) {
  footer .wrapper .inner .col .row .sub-col.footer-menu-1 {
    width: 100%;
  }
}
footer .wrapper .inner .col .row .sub-col.footer-menu-2 {
  width: auto;
  margin-left: 6rem;
}
@media (max-width: 768px) {
  footer .wrapper .inner .col .row .sub-col.footer-menu-2 {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
footer .wrapper .inner .col:nth-child(2) ul li {
  list-style: none;
  margin-bottom: 1rem;
}
footer .wrapper .inner .col:nth-child(2) ul li a {
  text-decoration: none;
}

#image_text_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
}
#image_text_wrapper strong {
  font-size: 18px;
}
#image_text_wrapper.dark {
  background: #24262b;
}
#image_text_wrapper.dark h1,
#image_text_wrapper.dark h2,
#image_text_wrapper.dark h3,
#image_text_wrapper.dark h4,
#image_text_wrapper.dark h5,
#image_text_wrapper.dark h6,
#image_text_wrapper.dark p {
  color: #fff;
}
#image_text_wrapper.white {
  background: #fff;
}
#image_text_wrapper.gray {
  background: #e1e1e1;
}
#image_text_wrapper .wrapper .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#image_text_wrapper .wrapper .inner .col {
  width: calc(50% - 52.5px);
  height: auto;
}
@media (max-width: 960px) {
  #image_text_wrapper .wrapper .inner .col {
    width: 100%;
  }
  #image_text_wrapper .wrapper .inner .col:nth-child(1) {
    order: 2;
  }
  #image_text_wrapper .wrapper .inner .col:nth-child(2) {
    order: 1;
  }
  #image_text_wrapper .wrapper .inner .col:nth-child(2) img {
    border-radius: 0;
  }
}
#image_text_wrapper .wrapper .inner .col:nth-child(1).background {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
#image_text_wrapper .wrapper .inner .col:nth-child(1).background .inner-left {
  width: calc(50% - 55px);
}
@media (max-width: 768px) {
  #image_text_wrapper .wrapper .inner .col:nth-child(1).background .inner-left {
    width: 100%;
  }
}
#image_text_wrapper .wrapper .inner .col:nth-child(1).background .inner-right {
  width: calc(50% - 55px);
}
@media (max-width: 768px) {
  #image_text_wrapper .wrapper .inner .col:nth-child(1).background .inner-right {
    width: 100%;
  }
}
#image_text_wrapper .wrapper .inner .col:nth-child(1).background .usps-wrapper {
  width: 100%;
}
#image_text_wrapper .wrapper .inner .col:nth-child(1).background .usps-wrapper .usp {
  width: 100%;
}
#image_text_wrapper .wrapper .inner .col:nth-child(2).background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#image_text_wrapper .wrapper .inner .col:nth-child(2).background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
#image_text_wrapper .wrapper .inner .col:nth-child(2).background img {
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  object-fit: cover;
}
#image_text_wrapper .wrapper .inner .col img {
  width: calc(100% + 180px);
  height: 100%;
  position: relative;
  border-radius: 60px 0 0 60px;
  transform: translateX(-20px);
}
#image_text_wrapper .wrapper .inner .col img.normal {
  border-radius: 0;
}
@media (max-width: 960px) {
  #image_text_wrapper .wrapper .inner .col img {
    transform: translateX(0);
    width: 100%;
    margin-bottom: 34px;
  }
}
#image_text_wrapper .wrapper .inner .col.left h3 {
  margin-bottom: 1rem;
}
#image_text_wrapper .wrapper .inner .col.left p {
  line-height: 28px;
}
@media (max-width: 1440px) {
  #image_text_wrapper .wrapper .inner .col.right {
    transform: translateX(105px);
  }
}
@media (max-width: 960px) {
  #image_text_wrapper .wrapper .inner .col.right {
    transform: translateX(0px);
  }
}
#image_text_wrapper .wrapper .inner .col .naked-social-share {
  display: flex;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul {
  display: flex;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul span {
  color: #fff;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li {
  margin-right: 16px;
  padding: 8px 16px;
  list-style: none;
  border-radius: 8px;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li.nss-linkedin {
  background: #2867b2;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li.nss-facebook {
  background: #4267b2;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li a {
  text-decoration: none;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li a i {
  display: none;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li a span.nss-site-name {
  color: #fff;
}
#image_text_wrapper .wrapper .inner .col .naked-social-share ul li a span.nss-site-count {
  display: none;
}

#image_text_special_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
}
#image_text_special_wrapper.dark {
  background: #24262b;
}
#image_text_special_wrapper.dark h1,
#image_text_special_wrapper.dark h2,
#image_text_special_wrapper.dark h3,
#image_text_special_wrapper.dark h4,
#image_text_special_wrapper.dark h5,
#image_text_special_wrapper.dark h6,
#image_text_special_wrapper.dark p {
  color: #fff;
}
#image_text_special_wrapper.white {
  background: #fff;
}
#image_text_special_wrapper.gray {
  background: #e1e1e1;
}
#image_text_special_wrapper .wrapper .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#image_text_special_wrapper .wrapper .inner .col {
  width: calc(50% - 52.5px);
  height: auto;
}
@media (max-width: 960px) {
  #image_text_special_wrapper .wrapper .inner .col {
    width: 100%;
    margin-top: 34px;
  }
  #image_text_special_wrapper .wrapper .inner .col:nth-child(1) {
    order: 2;
  }
  #image_text_special_wrapper .wrapper .inner .col:nth-child(2) {
    order: 1;
  }
  #image_text_special_wrapper .wrapper .inner .col:nth-child(2) img {
    border-radius: 0;
  }
}
#image_text_special_wrapper .wrapper .inner .col .content-1-wrapper {
  margin-bottom: 30%;
}
@media (max-width: 960px) {
  #image_text_special_wrapper .wrapper .inner .col .content-1-wrapper {
    margin-bottom: 0;
  }
}
#image_text_special_wrapper .wrapper .inner .col .content-2-wrapper .h2 {
  color: #f19b06;
}
#image_text_special_wrapper .wrapper .inner .col img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 60px;
  transform: translateX(0px);
}
#image_text_special_wrapper .wrapper .inner .col img.normal {
  border-radius: 0;
}
#image_text_special_wrapper .wrapper .inner .col.left h3 {
  margin-bottom: 1rem;
}
#image_text_special_wrapper .wrapper .inner .col.left p {
  line-height: 28px;
}

#partners_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#partners_wrapper h2 {
  width: 100%;
  margin-bottom: 55px;
}
@media (max-width: 960px) {
  #partners_wrapper h2 {
    text-align: center;
  }
}
#partners_wrapper .logotypes-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -2rem;
  width: 100%;
}
@media (max-width: 960px) {
  #partners_wrapper .logotypes-wrapper {
    margin: 0 -1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
#partners_wrapper .logotypes-wrapper img {
  object-fit: contain;
  max-height: 90px;
  max-width: 160px;
  margin: 1rem 2rem;
}
@media (max-width: 960px) {
  #partners_wrapper .logotypes-wrapper img {
    margin: 1rem 1rem;
  }
}

#background_usps_wrapper {
  position: relative;
  padding: 164px 0;
}
@media (max-width: 600px) {
  #background_usps_wrapper {
    padding: 64px 0;
  }
}
#background_usps_wrapper .inner {
  padding-top: 0;
  padding-bottom: 0;
}
#background_usps_wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: rgba(36, 38, 43, 0.7);
}
#background_usps_wrapper * {
  color: #fff;
  position: relative;
  z-index: 2;
}
#background_usps_wrapper .usps-wrapper {
  flex-wrap: wrap;
}
#background_usps_wrapper .usps-wrapper .usp {
  width: 30%;
}
#background_usps_wrapper .usps-wrapper .usp strong {
  font-size: 18px;
}
@media (max-width: 600px) {
  #background_usps_wrapper .usps-wrapper .usp {
    width: 100%;
    margin-bottom: 34px;
  }
  #background_usps_wrapper .usps-wrapper .usp:last-of-type {
    margin-bottom: 0;
  }
}

.big-wrapper .outer.background-black {
  background: #24262b;
  overflow: initial;
}
.big-wrapper .outer h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.big-wrapper .outer .recommended {
  margin-top: 0;
}
.big-wrapper .outer .pricing-tiers {
  transform: translateY(50px);
}

.choice_information {
  padding-top: 6rem;
  padding-bottom: 0rem;
}
.choice_information .inside-wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100vw;
}
.choice_information .inside-wrapper p.align-center {
  text-align: center;
}
.choice_information .inside-wrapper p.text-white {
  color: #fff;
}
.choice_information .inside-wrapper .pricing-tiers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .choice_information .inside-wrapper .pricing-tiers {
    transform: translate(0);
  }
}
.choice_information .inside-wrapper .pricing-tiers > div {
  width: 50%;
}
@media (max-width: 768px) {
  .choice_information .inside-wrapper .pricing-tiers > div {
    width: 100%;
  }
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 0px 2px #f19b06;
  box-shadow: 0px 0px 0px 2px #f19b06;
  position: relative;
  z-index: 2;
  margin-bottom: -3rem;
  filter: drop-shadow(0px 0px 5px rgba(36, 38, 43, 0.2));
}
@media (max-width: 768px) {
  .choice_information .inside-wrapper .pricing-tiers > div.recommended {
    margin: 0;
  }
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper {
  display: flex;
  margin-top: 0.75rem;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper .price {
  margin: 0 1rem 0 0;
  line-height: 1.1;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper .price #showprice {
  transition: all 0.1s;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper .price #showprice.updating {
  opacity: 0;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper .price-info {
  line-height: 1.3;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .price-wrapper .price-info span {
  display: block;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .units-wrapper select {
  width: 83px;
  appearance: none;
  background-color: #fff;
  border: 1px solid #24262b;
  padding: 0.625rem 0.75rem;
  border-radius: 6px;
  margin: 0;
  cursor: inherit;
  line-height: inherit;
  background-size: 10px 17px;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended .units-wrapper label {
  color: #24262b;
  font-weight: 500;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended button.get-recommended {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border: 0;
  background: #f19b06;
  border-radius: 6px;
  transition: all 0.2s;
  color: #fff;
  font-weight: 500;
  padding: 0.75rem;
  cursor: pointer;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended button.get-recommended:hover {
  background: #d88b05;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended ul.usp {
  margin-top: 2rem;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended ul.usp li {
  padding: 0.875rem 0;
  list-style: none;
  border-top: 1px solid rgba(229, 229, 229, 0.4);
  font-family: "Roboto", sans-serif;
}
.choice_information .inside-wrapper .pricing-tiers > div.recommended ul.usp li svg {
  margin-right: 7px;
}
.choice_information .inside-wrapper .pricing-tiers > div.custom {
  background: #000000;
  padding: 4rem 2rem;
  border-radius: 0px 8px 8px 0px;
}
@media (max-width: 768px) {
  .choice_information .inside-wrapper .pricing-tiers > div.custom {
    margin-top: 34px;
  }
}
.choice_information .inside-wrapper .pricing-tiers > div.custom p {
  margin-top: 1rem;
}
.choice_information .inside-wrapper .pricing-tiers > div.custom p span {
  opacity: 0.7;
}
.choice_information .inside-wrapper .pricing-tiers > div.custom button.get-custom {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border: 0;
  background: #fff;
  border-radius: 6px;
  transition: all 0.2s;
  color: #24262b;
  font-weight: 500;
  padding: 0.75rem;
  cursor: pointer;
}
.choice_information .inside-wrapper .pricing-tiers > div.custom button.get-custom:hover {
  background: #e6e6e6;
}

.offer_inforamtion {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.offer_inforamtion .inside-wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100vw;
}
.offer_inforamtion .inside-wrapper h1 {
  max-width: 700px;
}
.offer_inforamtion .inside-wrapper ul.offers {
  display: flex;
  justify-content: space-between;
  margin-left: -2rem;
  margin-right: -2rem;
}
.offer_inforamtion .inside-wrapper ul.offers li {
  width: 33.33333%;
  padding: 2rem;
}

.background-black {
  background: #24262b;
}

#banner-wrapper .banner-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#banner-wrapper .banner-row .column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(33.33% - 24px);
  padding: 0 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1024px) {
  #banner-wrapper .banner-row .column {
    width: 100%;
    border: none;
    justify-content: flex-start;
    margin-bottom: 34px;
    padding: 0;
  }
  #banner-wrapper .banner-row .column:last-of-type {
    margin-bottom: 0;
  }
}
#banner-wrapper .banner-row .column:last-of-type {
  border: none;
}
#banner-wrapper .banner-row .column img {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
#banner-wrapper .banner-row .column .text h4 {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  margin-top: 7px;
}
#banner-wrapper .banner-row .column .text p {
  text-align: left;
  color: #fff;
  margin: 0;
}

.big-wrapper .outer.faq {
  background: #fff;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column {
  width: 29.33%;
}
@media (max-width: 1200px) {
  .big-wrapper .outer.faq .wrapper .inner .faq-row .column {
    width: 100%;
    margin-bottom: 55px;
  }
  .big-wrapper .outer.faq .wrapper .inner .faq-row .column:last-of-type {
    margin-bottom: 0;
  }
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column h3 {
  margin-bottom: 2rem;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(1) ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(1) ul li span {
  background: #f19b06;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(1) ul li span strong {
  color: #fff;
  margin-top: 0.2rem;
  font-size: 24px;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(1) ul li p {
  color: #24262b;
  margin: 0;
  margin-left: 1.5rem;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(2) * {
  color: #24262b;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(3) ul li {
  list-style: none;
  margin-bottom: 12px;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(3) ul li a {
  color: #24262b;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0.7rem;
}
.big-wrapper .outer.faq .wrapper .inner .faq-row .column:nth-child(3) ul li a svg {
  width: 15px;
  height: 15px;
  margin-left: 1rem;
}

/* Panel style */
.accordion .a-container .a-panel {
  width: 100%;
  color: #262626;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

/* Panel style when active */
.accordion .a-container.active .a-panel {
  padding: 0;
  opacity: 1;
  height: auto;
  max-height: 500px;
}

.a-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px;
}
.a-container.active p.a-btn {
  margin-bottom: 0.7rem !important;
}
.a-container.active svg {
  transform: rotate(-180deg);
}
.a-container p.a-btn {
  width: 100%;
  text-align: left !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0.7rem 0;
}
.a-container .a-panel {
  width: 100%;
}
.a-container svg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all ease 350ms;
}

.wp-block-columns.block-text-cta h2:first-child {
  margin-top: 36.4px;
}

#text-cta-wrapper {
  padding: 0 10rem;
}
@media (max-width: 1280px) {
  #text-cta-wrapper {
    padding: 0 6rem;
  }
}
@media (max-width: 1024px) {
  #text-cta-wrapper {
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  #text-cta-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 600x) {
  #text-cta-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 600px) {
  #text-cta-wrapper {
    width: 100% !important;
    padding: 17px 0 !important;
  }
}
#text-cta-wrapper:nth-last-of-type(2) {
  display: block;
}
#text-cta-wrapper.dark {
  background: #24262b;
}
#text-cta-wrapper.dark h1,
#text-cta-wrapper.dark h2,
#text-cta-wrapper.dark h3,
#text-cta-wrapper.dark h4,
#text-cta-wrapper.dark h5,
#text-cta-wrapper.dark h6,
#text-cta-wrapper.dark p {
  color: #fff;
}
#text-cta-wrapper .outer {
  background: none;
}
#text-cta-wrapper h2:first-child {
  margin-top: 36.4px;
}

.video-wrapper h2 {
  margin-bottom: 34px;
}
.video-wrapper .iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-wrapper .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.get-started-wrapper .wrapper .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-started-wrapper .wrapper .inner .column {
  width: calc(50% - 13px);
}
@media (max-width: 960px) {
  .get-started-wrapper .wrapper .inner .column {
    width: 100%;
    margin-bottom: 34px;
  }
  .get-started-wrapper .wrapper .inner .column:last-of-type {
    margin-bottom: 0;
  }
}
.get-started-wrapper .wrapper .inner .column:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-started-wrapper .wrapper .inner .column:last-of-type .usp-1-wrapper {
  width: calc(50% - 32px);
}
@media (max-width: 600px) {
  .get-started-wrapper .wrapper .inner .column:last-of-type .usp-1-wrapper {
    width: 100%;
    margin-bottom: 34px;
  }
}
.get-started-wrapper .wrapper .inner .column:last-of-type .usp-2-wrapper {
  width: 50%;
}
@media (max-width: 600px) {
  .get-started-wrapper .wrapper .inner .column:last-of-type .usp-2-wrapper {
    width: 100%;
  }
}

body .gform_wrapper.gravity-theme textarea {
  padding: 9px;
}
body .gform_wrapper.gravity-theme select {
  padding: 9px;
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme input[type=text], body .gform_wrapper.gravity-theme input[type=password], body .gform_wrapper.gravity-theme input[type=email], body .gform_wrapper.gravity-theme input[type=url], body .gform_wrapper.gravity-theme input[type=date], body .gform_wrapper.gravity-theme input[type=month], body .gform_wrapper.gravity-theme input[type=time], body .gform_wrapper.gravity-theme input[type=datetime], body .gform_wrapper.gravity-theme input[type=datetime-local], body .gform_wrapper.gravity-theme input[type=week], body .gform_wrapper.gravity-theme input[type=number], body .gform_wrapper.gravity-theme input[type=search], body .gform_wrapper.gravity-theme input[type=color], body .gform_wrapper.gravity-theme input[type=tel], body .gform_wrapper.gravity-theme input[type=text] {
  padding: 9px;
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme .gsection {
  border: 0;
  margin-bottom: -1rem;
}
body .gform_wrapper.gravity-theme .gsection h3.gsection_title {
  font-weight: 500;
}
body .gform_wrapper.gravity-theme .gfield_label {
  font-weight: 500;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(209, 213, 219, 0.5);
  padding-top: 1rem;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .gfield_label {
  margin: 0 auto 0 0;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .ginput_container {
  width: 65%;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .ginput_container input {
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full.saljare {
  border-top: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full.saljare .ginput_container {
  width: 100%;
}
body .gform_wrapper.gravity-theme .gfield.extras {
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  background: #fff;
  display: block;
  padding: 1.5rem 1.5rem 0;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper {
    flex-wrap: wrap;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing {
  color: rgba(36, 38, 43, 0.6);
  text-align: right;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing {
    text-align: left;
    margin-bottom: 1rem;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing span {
  display: block;
  color: #24262b;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox {
  position: relative;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label {
  position: relative;
  display: block;
  width: 44px;
  height: 28px;
  background: #e5e7eb;
  border-radius: 15px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 3px #e5e7eb;
  box-shadow: 0px 0px 0px 3px #e5e7eb;
  transition: all 0.2s;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label input {
  opacity: 0;
  pointer-events: none;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.1);
  transition: all 0.2s;
  background-image: url(assets/images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0px 0px;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label.active {
  background: #f19b06;
  -webkit-box-shadow: 0px 0px 0px 3px #f19b06;
  box-shadow: 0px 0px 0px 3px #f19b06;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label.active:after {
  transform: translateY(-50%) translateX(14px);
  background-size: 12px 8px;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_label {
  margin-bottom: 0.25rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container {
  width: calc(100% + 3rem);
  margin: 0;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: #f9fafb;
  padding: 1rem 1.5rem;
  text-align: right;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container:before {
  content: "Antal:";
  display: inline-block;
  margin-right: 0.5rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container select {
  width: auto;
  display: inline-block;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container input.appinfo {
  width: 100%;
  display: inline-block;
  margin-top: 0.5rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_description {
  color: rgba(36, 38, 43, 0.7);
  line-height: 1.5;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_description span {
  display: block;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
.desktop .table-wrapper {
  margin: 0rem auto;
  padding: 6rem 10rem 3rem;
  max-width: 100%;
}
@media (max-width: 1280px) {
  .desktop .table-wrapper {
    padding: 6rem 6rem 3rem;
  }
}
@media (max-width: 1024px) {
  .desktop .table-wrapper {
    padding: 6rem 4rem 3rem;
  }
}
@media (max-width: 768px) {
  .desktop .table-wrapper {
    padding: 6rem 2rem 3rem;
  }
}
@media (max-width: 600x) {
  .desktop .table-wrapper {
    padding: 6rem 1rem 3rem;
  }
}
.desktop .table-wrapper section {
  margin: 0 0 55px 0;
}
.desktop .table-wrapper h6 {
  margin-bottom: 55px;
  font-weight: bold;
}
.desktop .table-wrapper .table-wrapper-top {
  display: flex;
}
.desktop .table-wrapper .table-wrapper-top .col {
  width: 33.33%;
  padding: 34px 17px 17px 34px;
}
.desktop .table-wrapper .table-wrapper-top .col.orange {
  border-top: 2px solid #f19b06;
}
.desktop .table-wrapper .table-wrapper-top .col.orange h6 {
  color: #f19b06;
  margin-bottom: 13px;
}
.desktop .table-wrapper .table-wrapper-top .col.black {
  border-top: 2px solid rgba(209, 213, 219, 0.5);
}
.desktop .table-wrapper .table-wrapper-top .col.black h6 {
  color: #000;
  margin-bottom: 13px;
}
.desktop .table-wrapper .table-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.desktop .table-wrapper .table-row .table-item {
  width: 31.33%;
  padding: 17px 34px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}
.desktop .table-wrapper .table-row .table-item:nth-child(2) {
  border-left: 2px solid #f19b06;
  border-right: 2px solid #f19b06;
}
.desktop .table-wrapper .table-row .table-item:first-child {
  padding-left: 0;
}
.desktop .table-wrapper .table-row .table-item.title {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(36, 38, 43, 0.7);
}
.desktop .table-wrapper .table-row .table-item img {
  width: 15px;
  height: 15px;
  margin-right: 13px;
}
.desktop .table-wrapper .table-row .table-item p {
  margin-bottom: 0;
  color: #f19b06;
  text-align: center;
}
.desktop .table-wrapper .table-row:first-of-type .table-item:nth-child(2) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 2px solid #f19b06;
}
.desktop .table-wrapper .table-row:first-of-type .table-item:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.desktop .table-wrapper .table-row:last-of-type {
  border-bottom: none;
}
.desktop .table-wrapper .table-row:last-child .table-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.desktop .table-wrapper .table-row:last-child .table-item:nth-child(2) {
  border-bottom: 2px solid #f19b06;
}
.desktop section.form {
  height: 100vh;
  width: 100vw;
  background: #f9fafb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  overflow-y: scroll;
}
.desktop section.form.active {
  opacity: 1;
  pointer-events: unset;
}
.desktop section.form nav {
  background: #24262b;
  padding: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.desktop section.form nav .nav-wrapper {
  margin: 0 auto;
  width: 1280px;
  padding: 0 2rem;
  max-width: calc(100vw - 6rem);
}
.desktop section.form nav button {
  border: 0;
  background: 0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.2s;
  padding: 0;
  line-height: 1;
  margin-right: 0.125rem;
  padding: 0.5rem 0.75rem 0.375rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.desktop section.form nav button img {
  vertical-align: middle;
  transition: all 0.2s;
  position: relative;
  top: -2px;
  display: inline-block;
  transform: rotate(180deg);
}
.desktop section.form nav button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.desktop section.form nav button:hover img {
  margin-right: 0.25rem;
}
.desktop section.form .form-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 12rem auto 3rem;
  width: 1280px;
  padding: 0 2rem;
  max-width: calc(100vw - 6rem);
  position: relative;
}
@media screen and (max-width: 767px) {
  .desktop section.form .form-wrapper {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .desktop section.form .form-wrapper {
    padding: 0 1rem;
  }
}
.desktop section.form .form-wrapper > * {
  width: 50%;
  padding: 0 2rem;
}
@media screen and (max-width: 767px) {
  .desktop section.form .form-wrapper > * {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .desktop section.form .form-wrapper > * {
    padding: 0 1rem;
  }
}
.desktop section.form .form-wrapper > *:nth-child(1) {
  margin-left: -2rem;
}
@media screen and (max-width: 960px) {
  .desktop section.form .form-wrapper > *:nth-child(1) {
    margin-left: -1rem;
  }
}
.desktop section.form .form-wrapper > *:nth-last-child(1) {
  margin-right: -2rem;
}
@media screen and (max-width: 960px) {
  .desktop section.form .form-wrapper > *:nth-last-child(1) {
    margin-right: -1rem;
  }
}
.desktop section.form .form-wrapper > .summary {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 12rem;
  left: 50%;
}
@media screen and (max-width: 767px) {
  .desktop section.form .form-wrapper > .summary {
    position: unset;
  }
}
.desktop section.form .form-wrapper > .summary h2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0 0 1rem;
}
.desktop section.form .form-wrapper > .summary h3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0 1rem;
}
.desktop section.form .form-wrapper > .summary .inside {
  border-radius: 8px;
  padding: 0 1.5rem;
  border: 1px solid #d1d5db;
  background: #fff;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li {
  display: block;
  border-bottom: 1px solid #d1d5db;
  margin: 0 -1.5rem;
  padding: 1.5rem 1.5rem;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder {
  font-size: 0.875rem;
}
@media screen and (max-width: 960px) {
  .desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder {
    text-align: right;
  }
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder select {
  width: 83px;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #24262b;
  padding: 0.625rem 0.75rem;
  border-radius: 6px;
  margin: 0 0 0 0.25rem;
  font-size: 0.875rem;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector > p {
  font-size: 0.875rem;
  color: rgba(36, 38, 43, 0.5);
  margin-bottom: 0;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li .summaryselector > p span {
  color: #24262b;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li:nth-last-child(1) {
  border-bottom: 0;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li {
  border-top: 1px solid #d1d5db;
  margin-top: 1rem;
  padding-top: 1rem;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p {
  font-size: 0.875rem;
  color: #24262b;
  margin: 0;
  line-height: 1.8;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p del,
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p span {
  opacity: 0.5;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p del.hide,
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p span.hide {
  display: none;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > p {
  font-size: 0.875rem;
  color: rgba(36, 38, 43, 0.5);
  margin-bottom: 0;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > p span {
  color: #24262b;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li:nth-last-child(1) {
  border-bottom: 0;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li.summary div {
  display: flex;
  justify-content: space-between;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li.summary div p {
  font-size: 1rem;
  color: #24262b;
  margin: 0.25rem;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li.summary div.totalt p {
  font-weight: 500;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li.summaryfooter input {
  background: #f19b06;
  color: #fff;
  border: 0;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 50%;
  padding: 1em;
  transition: all 0.2s;
}
.desktop section.form .form-wrapper > .summary .inside ul.items > li.summaryfooter input:hover {
  background: #e29106;
}

.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
    width: 100%;
  }
}
.mobile .table-wrapper {
  width: 1680px;
  margin: 0rem auto;
  padding: 6rem 2rem 3rem;
  max-width: calc(100vw - 6rem);
}
@media (max-width: 768px) {
  .mobile .table-wrapper {
    padding: 55px 0 55px 0;
  }
}
.mobile .table-wrapper section {
  margin: 0 0 55px 0;
}
.mobile .table-wrapper section.em .table-row .table-item {
  border-left: 2px solid #f19b06;
  border-right: 2px solid #f19b06;
}
.mobile .table-wrapper section.em .table-row:first-child .table-item {
  border-top: 2px solid #f19b06;
}
.mobile .table-wrapper section.em .table-row:last-child .table-item {
  border-bottom: 2px solid #f19b06;
}
.mobile .table-wrapper h5 {
  font-weight: bold;
}
.mobile .table-wrapper .table-wrapper-top {
  display: flex;
}
.mobile .table-wrapper .table-wrapper-top .col {
  width: 33.33%;
  padding: 34px 17px 17px 34px;
}
.mobile .table-wrapper .table-wrapper-top .col.orange {
  border-top: 2px solid #f19b06;
}
.mobile .table-wrapper .table-wrapper-top .col.orange h6 {
  color: #f19b06;
  margin-bottom: 13px;
}
.mobile .table-wrapper .table-wrapper-top .col.black {
  border-top: 2px solid rgba(209, 213, 219, 0.5);
}
.mobile .table-wrapper .table-wrapper-top .col.black h6 {
  color: #000;
  margin-bottom: 13px;
}
.mobile .table-wrapper .table-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mobile .table-wrapper .table-row .table-item {
  width: 31.33%;
  padding: 24px 34px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}
@media (max-width: 768px) {
  .mobile .table-wrapper .table-row .table-item {
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color: rgba(36, 38, 43, 0.7);
  }
}
.mobile .table-wrapper .table-row .table-item.title {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mobile .table-wrapper .table-row .table-item img {
  width: 15px;
  height: 15px;
  margin-right: 13px;
}
.mobile .table-wrapper .table-row .table-item p {
  margin-bottom: 0;
  color: #f19b06;
}
.mobile .table-wrapper .table-row:first-of-type .table-item:nth-child(2) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.mobile .table-wrapper .table-row:first-of-type .table-item:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.mobile .table-wrapper .table-row:last-child .table-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

section.form {
  height: 100vh;
  width: 100vw;
  background: #f9fafb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  overflow-y: scroll;
}
section.form.active {
  opacity: 1;
  pointer-events: unset;
}
section.form nav {
  background: #24262b;
  padding: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
section.form nav .nav-wrapper {
  margin: 0 auto;
  width: 1280px;
  padding: 0 2rem;
  max-width: calc(100vw - 6rem);
}
section.form nav button {
  border: 0;
  background: 0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.2s;
  padding: 0;
  line-height: 1;
  margin-right: 0.125rem;
  padding: 0.5rem 0.75rem 0.375rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
section.form nav button img {
  vertical-align: middle;
  transition: all 0.2s;
  position: relative;
  top: -2px;
  display: inline-block;
  transform: rotate(180deg);
}
section.form nav button:hover {
  background: rgba(255, 255, 255, 0.2);
}
section.form nav button:hover img {
  margin-right: 0.25rem;
}
section.form .form-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 12rem auto 3rem;
  width: 1280px;
  padding: 0 2rem;
  max-width: calc(100vw - 6rem);
  position: relative;
}
@media screen and (max-width: 767px) {
  section.form .form-wrapper {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  section.form .form-wrapper {
    padding: 0 1rem;
  }
}
section.form .form-wrapper > * {
  width: 50%;
  padding: 0 2rem;
}
@media screen and (max-width: 767px) {
  section.form .form-wrapper > * {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  section.form .form-wrapper > * {
    padding: 0 1rem;
  }
}
section.form .form-wrapper > *:nth-child(1) {
  margin-left: -2rem;
}
@media screen and (max-width: 960px) {
  section.form .form-wrapper > *:nth-child(1) {
    margin-left: -1rem;
  }
}
section.form .form-wrapper > *:nth-last-child(1) {
  margin-right: -2rem;
}
@media screen and (max-width: 960px) {
  section.form .form-wrapper > *:nth-last-child(1) {
    margin-right: -1rem;
  }
}
section.form .form-wrapper > .summary {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 12rem;
  left: 50%;
}
@media screen and (max-width: 767px) {
  section.form .form-wrapper > .summary {
    position: unset;
  }
}
section.form .form-wrapper > .summary h2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0 0 1rem;
}
section.form .form-wrapper > .summary h3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0 1rem;
}
section.form .form-wrapper > .summary .inside {
  border-radius: 8px;
  padding: 0 1.5rem;
  border: 1px solid #d1d5db;
  background: #fff;
}
section.form .form-wrapper > .summary .inside ul.items > li {
  display: block;
  border-bottom: 1px solid #d1d5db;
  margin: 0 -1.5rem;
  padding: 1.5rem 1.5rem;
}
section.form .form-wrapper > .summary .inside ul.items > li .summaryselector {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder {
  font-size: 0.875rem;
}
@media screen and (max-width: 960px) {
  section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder {
    text-align: right;
  }
}
section.form .form-wrapper > .summary .inside ul.items > li .summaryselector .selectholder select {
  width: 83px;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #24262b;
  padding: 0.625rem 0.75rem;
  border-radius: 6px;
  margin: 0 0 0 0.25rem;
  font-size: 0.875rem;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
section.form .form-wrapper > .summary .inside ul.items > li .summaryselector > p {
  font-size: 0.875rem;
  color: rgba(36, 38, 43, 0.5);
  margin-bottom: 0;
}
section.form .form-wrapper > .summary .inside ul.items > li .summaryselector > p span {
  color: #24262b;
}
section.form .form-wrapper > .summary .inside ul.items > li:nth-last-child(1) {
  border-bottom: 0;
}
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li {
  border-top: 1px solid #d1d5db;
  margin-top: 1rem;
  padding-top: 1rem;
}
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p {
  font-size: 0.875rem;
  color: #24262b;
  margin: 0;
  line-height: 1.8;
}
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p del,
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p span {
  opacity: 0.5;
}
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p del.hide,
section.form .form-wrapper > .summary .inside ul.items > li ul.sub-items > li p span.hide {
  display: none;
}
section.form .form-wrapper > .summary .inside ul.items > li.summary div {
  display: flex;
  justify-content: space-between;
}
section.form .form-wrapper > .summary .inside ul.items > li.summary div p {
  font-size: 1rem;
  color: #24262b;
  margin: 0.25rem;
}
section.form .form-wrapper > .summary .inside ul.items > li.summary div.totalt p {
  font-weight: 500;
}
section.form .form-wrapper > .summary .inside ul.items > li.summaryfooter input {
  background: #f19b06;
  color: #fff;
  border: 0;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 50%;
  padding: 1em;
  transition: all 0.2s;
}
section.form .form-wrapper > .summary .inside ul.items > li.summaryfooter input:hover {
  background: #e29106;
}

body .gform_wrapper.gravity-theme {
  max-width: 1280px;
  margin: 0 auto;
}
body .gform_wrapper.gravity-theme#gform_wrapper_7 {
  max-width: unset;
  margin: unset;
  padding: unset;
}
body .gform_wrapper.gravity-theme.order-form_wrapper {
  max-width: unset;
  margin: unset;
  padding: unset;
}
body .gform_wrapper.gravity-theme.order-form_wrapper .gform_footer input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
body .gform_wrapper.gravity-theme textarea {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  padding: 9px;
}
body .gform_wrapper.gravity-theme select {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  padding: 9px;
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme input[type=text], body .gform_wrapper.gravity-theme input[type=password], body .gform_wrapper.gravity-theme input[type=email], body .gform_wrapper.gravity-theme input[type=url], body .gform_wrapper.gravity-theme input[type=date], body .gform_wrapper.gravity-theme input[type=month], body .gform_wrapper.gravity-theme input[type=time], body .gform_wrapper.gravity-theme input[type=datetime], body .gform_wrapper.gravity-theme input[type=datetime-local], body .gform_wrapper.gravity-theme input[type=week], body .gform_wrapper.gravity-theme input[type=number], body .gform_wrapper.gravity-theme input[type=search], body .gform_wrapper.gravity-theme input[type=color], body .gform_wrapper.gravity-theme input[type=tel], body .gform_wrapper.gravity-theme input[type=text] {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  padding: 9px;
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme .gsection {
  border: 0;
  margin-bottom: -1rem;
  margin-top: 2rem;
}
body .gform_wrapper.gravity-theme .gsection:first-child {
  margin-top: 0;
}
body .gform_wrapper.gravity-theme .gsection h3.gsection_title {
  font-size: 1.125rem;
  font-weight: 500;
}
body .gform_wrapper.gravity-theme .gfield_label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(209, 213, 219, 0.5);
  padding-top: 1rem;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .gfield_label {
  margin: 0 auto 0 0;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .ginput_container {
  width: 65%;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full .ginput_container input {
  border: 1px solid rgba(209, 213, 219, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.05);
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full.saljare {
  border-top: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
body .gform_wrapper.gravity-theme .gfield.gfield--width-full.saljare .ginput_container {
  width: 100%;
}
body .gform_wrapper.gravity-theme .gfield.extras {
  overflow: hidden;
  border: 1px solid rgba(209, 213, 219, 0.7) !important;
  border-radius: 6px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: #ffffff;
  display: block;
  padding: 1.5rem 1.5rem 0;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper {
    flex-wrap: wrap;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing {
  font-size: 0.875rem;
  color: rgba(36, 38, 43, 0.6);
  text-align: right;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing {
    text-align: left;
    margin-bottom: 1rem;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .pricing span {
  display: block;
  color: #24262B;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox {
  position: relative;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
@media screen and (max-width: 960px) {
  body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label {
  position: relative;
  display: block;
  width: 44px;
  height: 28px;
  background: #E5E7EB;
  border-radius: 15px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 0px 3px #e5e7eb;
  box-shadow: 0px 0px 0px 3px #e5e7eb;
  transition: all 0.2s;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label input {
  opacity: 0;
  pointer-events: none;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(36, 38, 43, 0.1);
  transition: all 0.2s;
  background-image: url(assets/images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0px 0px;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label.active {
  background: #F19B06;
  -webkit-box-shadow: 0px 0px 0px 3px #f19b06;
  box-shadow: 0px 0px 0px 3px #f19b06;
}
body .gform_wrapper.gravity-theme .gfield.extras .digmi-wrapper .checkbox label.active:after {
  transform: translateY(-50%) translateX(14px);
  background-size: 12px 8px;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_label {
  margin-bottom: 0.25rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container {
  width: calc(100% + 3rem);
  margin: 0;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: #F9FAFB;
  padding: 1rem 1.5rem;
  text-align: right;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container:before {
  content: "Antal:";
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container select {
  width: auto;
  display: inline-block;
}
body .gform_wrapper.gravity-theme .gfield.extras .ginput_container input.appinfo {
  width: 100%;
  display: inline-block;
  margin-top: 0.5rem;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_description {
  font-size: 0.875rem;
  color: rgba(36, 38, 43, 0.7);
  line-height: 1.5;
}
body .gform_wrapper.gravity-theme .gfield.extras .gfield_description span {
  display: block;
  font-size: 0.625rem;
}

.gform_validation_errors {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.gform_validation_errors .validation_error {
  border: none !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  color: black !important;
  opacity: 1;
}

input[type=submit] {
  margin-top: 1rem;
  padding: 0.875em 2.25em;
  text-decoration: none;
  border-radius: 8px;
  background: #f19b06;
  transition: all ease 250ms;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
input[type=submit]:hover {
  transform: translateX(0.2rem) translateY(-0.2rem);
  box-shadow: -0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}
input[type=submit]:focus {
  transform: translateX(0.1rem) translateY(-0.1rem);
  box-shadow: -0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.gfield_required {
  display: none !important;
}

.gform_ajax_apinner img {
  margin-left: 1rem !important;
}

body .gform_wrapper.gravity-theme .gfield.gfield--width-full {
  border-top: none;
}

#quote_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#quote_wrapper .quote-inner {
  position: relative;
  padding: 110px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#quote_wrapper .quote-inner .dots-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
}
#quote_wrapper .quote-inner .dots-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}
#quote_wrapper .quote-inner .image-wrapper {
  position: relative;
  z-index: 2;
}
#quote_wrapper .quote-inner .image-wrapper img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
#quote_wrapper .quote-inner .meta-wrapper {
  position: relative;
  margin-left: 55px;
}
#quote_wrapper .quote-inner .meta-wrapper p {
  font-size: 24px;
}
#quote_wrapper .quote-inner .meta-wrapper h5 {
  margin: 0;
}
#quote_wrapper .quote-inner .meta-wrapper h5:last-of-type {
  margin-top: 8px;
}
#quote_wrapper .quote-inner .meta-wrapper .quote-icon {
  position: absolute;
  left: -10px;
  top: -90%;
}
#quote_wrapper .quote-inner .meta-wrapper .quote-icon svg {
  width: 150px;
  height: auto;
}
#quote_wrapper .quote-inner .meta-wrapper .text-orange {
  color: #f19b06;
}

#columns_list_wrapper .columns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#columns_list_wrapper .columns-wrapper .column {
  width: calc(50% - 55px);
}
#columns_list_wrapper .columns-wrapper .column:last-of-type {
  display: block;
}
#columns_list_wrapper .columns-wrapper .column h3 {
  width: 100%;
}
#columns_list_wrapper .columns-wrapper .column ul {
  margin-top: 17px;
  margin-left: 20px;
}
#columns_list_wrapper .columns-wrapper .column ul li {
  position: relative;
  margin-bottom: 34px;
}
#columns_list_wrapper .columns-wrapper .column ul li:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 10px;
  height: 10px;
  background: #f19b06;
  border-radius: 10px;
}
#columns_list_wrapper .columns-wrapper .column ul li h5 {
  margin: 0;
}
#columns_list_wrapper .columns-wrapper .column ul li p {
  margin: 4px 0 0 0;
}
#columns_list_wrapper .columns-wrapper .column:nth-child(2) li:before {
  background: #999;
}

.digmi-testimonial {
  background: #E5E5E5;
}
.digmi-testimonial .swiper-wrapper {
  align-items: stretch;
}
.digmi-testimonial .swiper-wrapper .swiper-slide {
  background: #F9FAFB;
  justify-content: center;
  display: flex;
  height: auto;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper small {
  align-self: flex-start;
  width: 100%;
  color: #24262B;
  line-height: 1.5;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper small img {
  height: 52px;
  width: 52px;
  border: 2px solid #24262B;
  max-height: unset;
  float: left;
  border-radius: 26px;
  margin-right: 0.5rem;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper img {
  align-self: flex-start;
  margin-bottom: 1rem;
  max-height: 30px;
  width: auto;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper h5 {
  width: 100%;
  font-weight: 700;
  color: #24262B;
  max-width: 543px;
  margin-bottom: 1rem;
  line-height: 30px;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper blockquote {
  position: relative;
  z-index: 2;
  display: inline-block;
  max-width: 543px;
  text-align: left;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper blockquote::before {
  position: absolute;
  content: "";
  background: url(assets/images/qoute.svg);
  height: 23px;
  width: 29px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  left: -8px;
  top: -3px;
}
.digmi-testimonial .swiper-wrapper .swiper-slide .inside-wrapper blockquote p {
  color: #24262B;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

/*# sourceMappingURL=style.css.map */
