@font-face {
    font-family: 'HarpersGrotesque';
    src: url('HarpersGrotesque-Medium.woff2') format('woff2'),
        url('HarpersGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

