// Global styling

html {
  text-rendering: optimizeLegibiity;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: $primary;
  box-sizing: border-box;
  font-size: 16px;
}



*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  //overflow-x:hidden;
}

body {
  font-family: $copy;
  overflow-x:hidden;
  background: #e7e7e7;
  line-height: 1.75;
  color: $digmicopy;
}





img {
	max-width: 100%;
  height: auto;
}



input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}


.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}