// Font families
$primary-font: "HarpersGrotesque", sans-serif;
$secondary-font: "Roboto", sans-serif;

// Variables
$black_bg: #24262b;
$gray: #dfe3e5;
$drk-gray: #6f6f6f;
$white: #fff;
$orange: #f19b06;
$copy: #474b55;

// Font weights
$bold: 500;
$medium: 500;
$regular: 400;

$font-size-setting: 5vw;

$headline: "HarpersGrotesque", sans-serif;
$copy: "Roboto", sans-serif;
$secondary-font: "HarpersGrotesque", sans-serif;
$primary-font: "Roboto", sans-serif;

$white: #ffffff;
$black: #24262b;
$superblack: #000000;
$lightgrey: #f9fafb;
$digmicopy-neg: #e5e5e5;
$digmicopy: rgba(#24262b, 0.7);
$digmicta: #f19b06;
$primary: #f19b06;
$border-color: #d1d5db;
$lightergrey: #e5e7eb;
